In [47]:
import pandas as pd
import numpy as np
from numpy import nan

In [48]:
df = pd.read_csv("jobs18.csv")

In [49]:
df.head()

,Unnamed: 0,title,company,salary,location,company_rating,description
0,0,Junior Data Scientist Apprentice,IBM,NaN,"New York, NY 10001 (Chelsea area)+1 location",3.9,Introduction\nAs a Junior Data Scientist at IB...
1,1,Data Scientist,Adidas,NaN,"Portland, OR+1 location",4.0,Purpose & Overall Relevance for the Organizati...
2,2,Junior Data Scientist (NYC or Remote),ViacomCBS,NaN,"Remote in New York, NY+1 location",3.9,ViacomCBS (NASDAQ:\nVIAC; VIACA) is a leading ...
3,3,"Associate Data Scientist, User Fraud",Spotify,NaN,"Hybrid remote in New York, NY+14 locations",4.3,Content\nData\nWe’re looking for an Associate ...
4,4,"Data Scientist, Game Analytics & Strategy",the NBA,NaN,"New York, NY 10022 (Midtown area)+1 location",4.2,"At the NBA, we’re passionate about growing and..."

In [50]:
df.shape

(1475, 7)

We will start to work from salary column. Goal here is to have 
1) mean value for the salary if they have a salary estimation
2) or leave it as NaN

First Let's figure out
- How many NaN value we have
- How many value that we can use
- structure of non NaN values
- extract only numbers

In [51]:
print('we have', df['salary'].isna().sum(), 'Nan value for the salary column')
print('that indicates that we have only 56 values to use')

we have 1330 Nan value for the salary column
that indicates that we have only 56 values to use

In [52]:
salary = df['salary']
salary_notnull = salary[salary.notnull()]
print(salary_notnull)

14      $89,457 - $115,262 a year
18      $92,700 - $160,000 a year
26      $70,400 - $117,400 a year
29                $110,500 a year
32      $94,727 - $122,885 a year
                  ...
1425    $83,200 - $190,100 a year
1430              $125,000 a year
1434    $78,300 - $117,500 a year
1460    $95,800 - $159,600 a year
1464    $78,300 - $117,500 a year
Name: salary, Length: 145, dtype: object

Now let's extract numbers only from the salary columns

In [53]:
def str_contains_n(str):
    num_str = "0123456789"
    word_list = []
    words = str.split(" ")
    for word in words:
        word_has_n = False
        for char in word:
            if char in num_str:
                word_has_n = True
        if word_has_n:
            word_list.append(word)
    result = '-'.join(word_list)
    return result

In [54]:
df['k_unit'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'k' in x.lower() else 0)
df['yearly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'a year' in x.lower() else 0)
df['monthly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'a month' in x.lower() else 0)
df['hourly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'an hour' in x.lower() else 0)

salary = salary.apply(lambda x: str_contains_n(x) if isinstance(x, str) else None)
salary = salary.apply(lambda x: x.lower().replace("$","").replace("k","").replace(",","") if x != None else None)
salary = salary.apply(lambda x: x if isinstance(x,str) else 0)

df['salary_edit'] = salary

df['min_salary'] = salary.apply(lambda x: float(x.split('-')[0]) if isinstance(x,str) else 0)
df['max_salary'] = salary.apply(lambda x: float(x.split('-')[1]) if isinstance(x,str) and len(x.split('-')) >1 else(float(x.split('-')[0]) if isinstance(x,str) else 0))
df['avg_salary'] = (df['min_salary'] + df['max_salary'])/2

# take care of k_unit
df.loc[df['k_unit'] == 1,['min_salary']] = df[df['k_unit'] == 1].min_salary * 1000
df.loc[df['k_unit'] == 1,['max_salary']] = df[df['k_unit'] == 1].max_salary * 1000
df.loc[df['k_unit'] == 1,['avg_salary']] = df[df['k_unit'] == 1].avg_salary * 1000
df.loc[df['k_unit'] == 1]

# take care of monthly, for the monthly we have to multiply 12
df.loc[df['monthly'] == 1,['min_salary']] = df[df['monthly'] == 1].min_salary * 12
df.loc[df['monthly'] == 1,['max_salary']] = df[df['monthly'] == 1].max_salary * 12
df.loc[df['monthly'] == 1,['avg_salary']] = df[df['monthly'] == 1].avg_salary * 12
df.loc[df['monthly'] == 1]

df.loc[df['hourly'] == 1,['min_salary']] = df[df['hourly'] == 1].min_salary * 40 * 52
df.loc[df['hourly'] == 1,['max_salary']] = df[df['hourly'] == 1].max_salary * 40 * 52
df.loc[df['hourly'] == 1,['avg_salary']] = df[df['hourly'] == 1].avg_salary * 40 * 52
df.loc[df['hourly'] == 1]

# df.at[df['k_unit'] == 1, 'Product_Name'] = df[df['k_unit'] == 1].min_salary * 1000
# Now that we have get the yearly average salary correctly we can drop all unneccessary columns

df.drop(['k_unit','yearly','monthly','hourly','salary_edit','min_salary','max_salary','salary'], axis=1, inplace = True)
# pd.set_option("display.max_rows", None, "display.max_columns", None)

Now we need to clean up the location columns
there are few information we can extract
1. remote or not
2. state name

1) we can compare whether remote job gives more salary or the onsite job
2) which state gives are more salary
3) even with the remote job, does the state gives out high salary still gives are high salary

the above questions we can answer later on

In [55]:

df['remote'] = df['location'].apply(lambda x: 1 if isinstance(x,str) and 'remote' in x.lower() else 0)
df.groupby('remote').count()
# we can see that 158/450 jobs are remote

,Unnamed: 0,title,company,location,company_rating,description,avg_salary
remote,,,,,,,
0,1071,1071,1071,1071,861,369,1071
1,404,404,404,404,294,130,404

In [56]:
# Let's extract state name
# from https://gist.github.com/JeffPaine/3083347 I copied the state acronymn list
states_ac = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

states_dict = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

states = []
for state in states_dict:
    states.append(states_dict[state])

states_all = states_ac + states

In [57]:
import re
newData = "GeeksforGeeks, is_an-awesome ! app + too"
  
# To split "+" use backslash
def check_contains_ele(location, state_list):
    location = location.replace('in',"")
    location_list = re.split(' |\+',location)
    print(location_list)
    for location in location_list:
         for state in state_list:
             if location.lower() == state.lower():
                 return state
    return 0
    
df['state'] = df['location'].apply(lambda x: check_contains_ele(x, states_all) if isinstance(x,str)  else 0)
df[df['state'] == 0].head()

['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '1', 'location']
['Portland,', 'OR', '1', 'location']
['Remote', '', 'New', 'York,', 'NY', '1', 'location']
['Hybrid', 'remote', '', 'New', 'York,', 'NY', '14', 'locations']
['New', 'York,', 'NY', '10022', '(Midtown', 'area)', '1', 'location']
['New', 'York,', 'NY', '10017', '(Midtown', 'area)', '35', 'locations']
['Redmond,', 'WA', '98052', '(Overlake', 'area)', '31', 'locations']
['Beaverton,', 'OR', '2', 'locations']
['Atlanta,', 'GA', '9', 'locations']
['Alpharetta,', 'GA', '6', 'locations']
['Sacramento,', 'CA', '1', 'location']
['New', 'York,', 'NY']
['Washgton,', 'DC', '20001', '(Swampoodle', 'area)', '1', 'location']
['Remote', '', 'New', 'York,', 'NY', '3', 'locations']
['Washgton,', 'DC', '20005', '(Downtown', 'area)', '1', 'location']
['San', 'Jose,', 'CA', '7', 'locations']
['New', 'York,', 'NY']
['Alpharetta,', 'GA', '6', 'locations']
['', '126', 'locationsRemote']
['Charlotte,', 'NC', '28269', '6', 'locations']
['Santa', 'Clara,', 'CA', '95054']
['Atlanta,', 'GA', '4', 'locations']
['New', 'York,', 'NY', '10176', '(Murray', 'Hill', 'area)', '1', 'location']
['Atlanta,', 'GA', '9', 'locations']
['Raritan,', 'NJ', '41', 'locations']
['Remote', '', 'New', 'York,', 'NY', '3', 'locations']
['Remote', '', 'Hartford,', 'CT']
['Seattle,', 'WA', '98101', '(Denny', 'Triangle', 'area)', '3', 'locations']
['Remote', '', 'Menlo', 'Park,', 'CA']
['Remote', '', 'Boston,', 'MA']
['Remote']
['Remote', '', 'Arizona', '2', 'locations']
['Hartford,', 'CT']
['Onamia,', 'MN', '56359']
['Hybrid', 'remote', '', 'Mounta', 'View,', 'CA', '7', 'locations']
['Remote', '', 'New', 'York,', 'NY', '1', 'location']
['Boston,', 'MA', '02210', '(South', 'Boston', 'area)']
['New', 'York,', 'NY']
['Culver', 'City,', 'CA', '90232']
["O'Fallon,", 'MO', '63368', '3', 'locations']
['Remote']
['Redmond,', 'WA', '98052', '(Overlake', 'area)', '16', 'locations']
['', '3', 'locationsRemote']
['Santa', 'Clara,', 'CA', '95054', '2', 'locations']
['San', 'Bruno,', 'CA']
['Redmond,', 'WA', '98052', '(Overlake', 'area)', '16', 'locations']
['Santa', 'Clara,', 'CA', '95054', '2', 'locations']
['San', 'Bruno,', 'CA']
['Carlsbad,', 'CA', '5', 'locations']
['Boston,', 'MA']
['Santa', 'Monica,', 'CA']
['Remote']
['Center,', 'TX', '1', 'location']
['Atlanta,', 'GA', '4', 'locations']
['Corng,', 'NY', '14831', '1', 'location']
['New', 'York,', 'NY']
['Long', 'Beach,', 'CA']
['Durham,', 'NC', '27703']
['Remote', '', 'Rockville,', 'MD']
['Mounta', 'View,', 'CA', '94041', '(Old', 'Mounta', 'View', 'area)', '35', 'locations']
['Remote']
['Center,', 'TX', '1', 'location']
['Atlanta,', 'GA', '4', 'locations']
['Corng,', 'NY', '14831', '1', 'location']
['New', 'York,', 'NY']
['Long', 'Beach,', 'CA']
['Durham,', 'NC', '27703']
['Remote', '', 'Rockville,', 'MD']
['San', 'Francisco,', 'CA', '94103', '(Fancial', 'District/South', 'Beach', 'area)', '15', 'locations']
['Philadelphia,', 'PA', '19146', '(Graduate', 'Hospital', 'area)', '3', 'locations']
['New', 'York,', 'NY', '10176', '(Murray', 'Hill', 'area)', '1', 'location']
['Charlotte,', 'NC', '28269', '6', 'locations']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '27', 'locations']
['Houston,', 'TX', '1', 'location']
['Mneapolis,', 'MN']
['Beaverton,', 'OR', '2', 'locations']
['Santa', 'Monica,', 'CA']
['Remote', '', 'California', '1', 'location']
['San', 'Jose,', 'CA', '95131', '(North', 'Valley', 'area)', '10', 'locations']
['San', 'Jose,', 'CA', '95131', '(North', 'Valley', 'area)', '1', 'location']
['Remote', '', 'New', 'York,', 'NY']
['Remote', '', 'San', 'Jose,', 'CA', '2', 'locations']
['Houston,', 'TX', '1', 'location']
['Hybrid', 'remote', '', 'Orrville,', 'OH']
['Durham,', 'NC', '27709', '8', 'locations']
['Boston,', 'MA', '02115', '(Mission', 'Hill', 'area)', '3', 'locations']
['Draper,', 'UT', '1', 'location']
['', '3', 'locationsRemote']
['Remote', '', 'Houston,', 'TX']
['Remote', '', 'Tempe,', 'AZ', '1', 'location']
['Durham,', 'NC', '27701']
['San', 'Francisco,', 'CA', '94129', '(Presidio', 'area)', '1', 'location']
['', '3', 'locationsRemote']
['New', 'York,', 'NY', '10006', '(Fancial', 'District', 'area)', '1', 'location']
['Remote', '', 'Tempe,', 'AZ', '1', 'location']
['Remote', '', 'New', 'York,', 'NY']
['Remote']
['Mneapolis,', 'MN', '2', 'locations']
['Remote', '', 'Warren,', 'MI', '3', 'locations']
['Bellevue,', 'WA']
['', '1', 'locationRemote']
['New', 'York,', 'NY', '2', 'locations']
['Salt', 'Lake', 'City,', 'UT', '84112', '(East', 'Bench', 'area)']
['Pittsburgh,', 'PA', '1', 'location']
['Remote', '', 'New', 'York,', 'NY', '9', 'locations']
['Remote', '', 'Virgia', '1', 'location']
['Manhattan,', 'NY', '10004', '(Fancial', 'District', 'area)', '2', 'locations']
['Boston,', 'MA']
['Woodland', 'Hills,', 'CA', '91367']
['Remote', '', 'San', 'Antonio,', 'TX', '7', 'locations']
['Cambridge,', 'MA', '02139', '(The', 'Port', 'area)', '1', 'location']
['', '3', 'locationsRemote']
['Decherd,', 'TN']
['New', 'York,', 'NY', '1', 'location']
['Remote']
['Washgton,', 'DC', '20036', '(Downtown', 'area)']
['Washgton,', 'DC', '20505', '(Foggy', 'Bottom', 'area)']
['New', 'York,', 'NY']
['Ccnati,', 'OH', '45201', '(Central', 'Busess', 'District', 'area)', '9', 'locations']
['Remote', '', 'El', 'Paso,', 'TX']
['San', 'Francisco,', 'CA', '(Fancial', 'District/South', 'Beach', 'area)']
['Culver', 'City,', 'CA']
['Hybrid', 'remote', '', 'San', 'Francisco,', 'CA']
['New', 'York,', 'NY', '10017', '(Tudor', 'City', 'area)']
['Hybrid', 'remote', '', 'Seattle,', 'WA']
['Remote', '', 'Texas']
['Sylmar,', 'CA', '1', 'location']
['Aust,', 'TX']
['Remote', '', 'Illois', '1', 'location']
['Milwaukee,', 'WI']
['San', 'Francisco,', 'CA', '4', 'locations']
['Remote', '', 'Reston,', 'VA', '2', 'locations']
['Herndon,', 'VA', '20170', '14', 'locations']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '1', 'location']
['Anderson,', 'SC']
['San', 'Francisco,', 'CA', '4', 'locations']
['Remote', '', 'Reston,', 'VA', '2', 'locations']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '1', 'location']
['Anderson,', 'SC']
['Remote', '', 'Rockville,', 'MD']
['Remote', '', 'Chicago,', 'IL']
['Remote', '', 'Pittsburgh,', 'PA', '1', 'location']
['San', 'Francisco,', 'CA']
['San', 'Jose,', 'CA', '2', 'locations']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '27', 'locations']
['San', 'Francisco,', 'CA', '7', 'locations']
['New', 'York,', 'NY']
['Remote', '', 'Utah']
['Boston,', 'MA']
['Hybrid', 'remote', '', 'Mounta', 'View,', 'CA', '7', 'locations']
['Milwaukee,', 'WI']
['Atlanta,', 'GA', '30309', '(Midtown', 'area)', '2', 'locations']
['Dearborn,', 'MI', '4', 'locations']
['Remote', '', 'Aust,', 'TX', '3', 'locations']
['San', 'Francisco,', 'CA', '4', 'locations']
['Remote', '', 'Reston,', 'VA', '2', 'locations']
['Sprg,', 'TX', '77389', '5', 'locations']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '1', 'location']
['Anderson,', 'SC']
['Boston,', 'MA', '02210', '(South', 'Boston', 'area)']
['Remote', '', 'Rockville,', 'MD']
['Remote', '', 'Chicago,', 'IL']
['Remote', '', 'Pittsburgh,', 'PA', '1', 'location']
['San', 'Francisco,', 'CA']
['San', 'Jose,', 'CA', '2', 'locations']
['San', 'Francisco,', 'CA', '7', 'locations']
['New', 'York,', 'NY']
['Aust,', 'TX', '2', 'locations']
['Remote', '', 'Utah']
['Boston,', 'MA']
['Long', 'Beach,', 'CA']
['Waltham,', 'MA', '02451', '9', 'locations']
['Remote', '', 'Boston,', 'MA', '1', 'location']
['Rockville,', 'MD', '1', 'location']
['Santa', 'Monica,', 'CA']
['Remote', '', 'St.', 'Louis,', 'MO']
['Alpharetta,', 'GA']
['Los', 'Angeles,', 'CA', '1', 'location']
['Eden', 'Prairie,', 'MN', '55347']
['Chicago,', 'IL', '3', 'locations']
['Athens,', 'GA', '30605', '1', 'location']
['Remote', '', 'Warren,', 'MI', '3', 'locations']
['Cambridge,', 'MA', '1', 'location']
['Santa', 'Clara,', 'CA', '95054', '2', 'locations']
['Santa', 'Clara,', 'CA', '1', 'location']
['Mneapolis,', 'MN', '2', 'locations']
['Aust,', 'TX']
['Plano,', 'TX', '1', 'location']
['Columbus,', 'OH', '2', 'locations']
['Remote']
['Remote']
['New', 'York,', 'NY']
['Remote', '', 'Reston,', 'VA']
['Scottsdale,', 'AZ', '85260', '(North', 'Scottsdale', 'area)']
['Los', 'Angeles,', 'CA']
['Chapel', 'Hill,', 'NC', '27599', '1', 'location']
['Rockville,', 'MD', '20852', '1', 'location']
['Remote', '', 'Los', 'Gatos,', 'CA']
['Remote', '', 'Boston,', 'MA']
['Athens,', 'GA', '30605', '1', 'location']
['Remote', '', 'Warren,', 'MI', '3', 'locations']
['Cambridge,', 'MA', '1', 'location']
['Remote', '', 'New', 'York', 'State']
['Santa', 'Clara,', 'CA', '95054', '2', 'locations']
['Remote', '', 'California']
['Santa', 'Clara,', 'CA', '1', 'location']
['Mneapolis,', 'MN', '2', 'locations']
['Aust,', 'TX']
['Remote', '', 'San', 'Antonio,', 'TX', '7', 'locations']
['Plano,', 'TX', '1', 'location']
['Remote', '', 'Chicago,', 'IL', '2', 'locations']
['Dania', 'Beach,', 'FL', '33004', '18', 'locations']
['New', 'York,', 'NY', '4', 'locations']
['Remote']
['Huntsville,', 'AL', '1', 'location']
['Eden', 'Prairie,', 'MN', '55347']
['Remote']
['Charlotte,', 'NC']
['Santa', 'Monica,', 'CA', '90401', '(Wilshire/Montana', 'area)']
['Boston,', 'MA', '1', 'location']
['Pittsburgh,', 'PA']
['Manhattan,', 'NY', '10065', '(Upper', 'East', 'Side', 'area)']
['Remote']
['Remote', '', 'Madison,', 'WI']
['Athens,', 'GA', '30605', '1', 'location']
['Culver', 'City,', 'CA']
['Boston,', 'MA', '02210', '(South', 'Boston', 'area)']
['Parsippany,', 'NJ', '07054']
['New', 'York,', 'NY']
['Newark,', 'CA', '94560', '2', 'locations']
['New', 'York,', 'NY', '4', 'locations']
['Remote']
['Hershey,', 'PA', '1', 'location']
['Remote', '', 'Herndon,', 'VA']
['Remote']
['New', 'York,', 'NY', '10120', '(Chelsea', 'area)']
['Boston,', 'MA', '02114', '(West', 'End', 'area)']
['Remote', '', 'Atlanta,', 'GA', '16', 'locations']
['Burbank,', 'CA', '91505']
['Remote', '', 'Birmgham,', 'AL', '2', 'locations']
['Overland', 'Park,', 'KS', '66202']
['Remote', '', 'Chesterfield,', 'MO']
['Fort', 'Worth,', 'TX', '76107', '(Arlgton', 'Heights', 'area)']
['Remote', '', 'Beaverton,', 'OR', '1', 'location']
['Collsville,', 'IL', '62234']
['Chicago,', 'IL', '60661', '(West', 'Loop', 'Gate', 'area)', '8', 'locations']
['Irve,', 'CA']
['Broomfield,', 'CO', '80021', '(Interlocken', 'area)', '18', 'locations']
['Remote', '', 'Illois']
['Remote', '', 'Beaverton,', 'OR', '5', 'locations']
['Las', 'Vegas,', 'NV']
['San', 'Mateo,', 'CA', '94402', '(Beresford', 'area)']
['Remote']
['Remote']
['Atlanta,', 'GA', '30309', '(Midtown', 'area)']
['Remote', '', 'Washgton,', 'DC']
['Chicago,', 'IL', '60637', '(Woodlawn', 'area)', '1', 'location']
['Remote', '', 'Mden,', 'NV']
['Boston,', 'MA', '02110', '(Downtown', 'area)']
['Remote', '', 'California', '1', 'location']
['New', 'York,', 'NY', '10036', '(Midtown', 'area)']
['Remote']
['Short', 'Hills,', 'NJ', '07078', '1', 'location']
['Gaithersburg,', 'MD', '20878', '1', 'location']
['New', 'York,', 'NY', '10018', '(Garment', 'District', 'area)', '2', 'locations']
['Remote']
['', '5', 'locationsRemote']
['San', 'Jose,', 'CA', '95131', '(North', 'Valley', 'area)', '1', 'location']
['Los', 'Angeles,', 'CA']
['', '1', 'locationRemote']
['The', 'Woodlands,', 'TX', '77380', '1', 'location']
['Lthicum,', 'MD', '21090']
['Chicago,', 'IL', '60661', '(West', 'Loop', 'Gate', 'area)', '3', 'locations']
['Seattle,', 'WA', '98101', '(Downtown', 'area)', '7', 'locations']
['Florham', 'Park,', 'NJ']
['Remote']
['New', 'York,', 'NY', '1', 'location']
['Exton,', 'PA', '1', 'location']
['Seattle,', 'WA', '3', 'locations']
['Remote']
['Remote', '', 'Virgia', '1', 'location']
['Hybrid', 'remote', '', 'New', 'York,', 'NY']
['Remote', '', 'Costa', 'Mesa,', 'CA', '2', 'locations']
['Remote', '', 'Seattle,', 'WA', '1', 'location']
['San', 'Jose,', 'CA', '95131', '(North', 'Valley', 'area)', '13', 'locations']
['New', 'York,', 'NY', '3', 'locations']
['Foster', 'City,', 'CA']
['Remote']
['Aust,', 'TX', '2', 'locations']
['San', 'Diego,', 'CA']
['Chicago,', 'IL', '60604', '(The', 'Loop', 'area)']
['Milwaukee,', 'WI']
['', '10', 'locationsRemote']
['Dania', 'Beach,', 'FL', '33004', '18', 'locations']
['The', 'Woodlands,', 'TX', '77380']
['Tampa,', 'FL']
['Boston,', 'MA']
['Remote', '', 'Madison,', 'WI', '2', 'locations']
['San', 'Diego,', 'CA', '92121', '(Sorrento', 'Valley', 'area)']
['Remote', '', 'Washgton,', 'DC', '5', 'locations']
['Washgton,', 'DC', '20005', '(Logan', 'Circle', 'area)']
['San', 'Jose,', 'CA']
['Los', 'Angeles,', 'CA']
['Remote']
['Remote', '', 'Atlanta,', 'GA', '3', 'locations']
['San', 'Francisco,', 'CA', '7', 'locations']
['Temporarily', 'Remote', '', 'Vienna,', 'VA']
['Aust,', 'TX']
['New', 'York,', 'NY', '10036', '(Garment', 'District', 'area)', '10', 'locations']
['Dallas,', 'TX', '75205', '(Highland', 'Park', 'area)']
['Remote', '', 'New', 'York,', 'NY', '2', 'locations']
['Hamilton,', 'OH']
['Anderson,', 'SC']
['Van', 'Wert,', 'OH', '45891']
['Remote', '', 'St.', 'Louis,', 'MO']
['New', 'York,', 'NY']
['Golden,', 'CO', '80401', '1', 'location']
['Remote', '', 'Vienna,', 'NY']
['New', 'York,', 'NY', '10022', '(Sutton', 'Place', 'area)']
['', '1', 'locationRemote']
['New', 'York,', 'NY', '10017', '(Midtown', 'area)']
['Boston,', 'MA', '02108', '(Downtown', 'Crossg', 'area)', '10', 'locations']
['Hybrid', 'remote', '', 'San', 'Francisco,', 'CA']
['Rosslyn,', 'VA', '22209', '(Radnor-Ft', 'Myer', 'Heights', 'area)', '2', 'locations']
['Remote', '', 'San', 'Diego,', 'CA', '1', 'location']
['Annapolis', 'Junction,', 'MD', '20701']
['Overland', 'Park,', 'KS', '66251', '1', 'location']
['Remote']
['Emeryville,', 'CA']
['Raleigh,', 'NC', '4', 'locations']
['New', 'York,', 'NY', '10014', '(West', 'Village', 'area)']
['Tysons,', 'VA', '3', 'locations']
['Foster', 'City,', 'CA']
['Detroit,', 'MI']
['Ewg,', 'NJ', '1', 'location']
['New', 'York,', 'NY', '10017', '(Turtle', 'Bay', 'area)']
['Boulder,', 'CO', '80301', '2', 'locations']
['Durham,', 'NC', '27709', '1', 'location']
['Seattle,', 'WA', '3', 'locations']
['Boston,', 'MA', '02210', '(South', 'Boston', 'area)']
['Remote', '', 'Irve,', 'CA']
['Remote']
['San', 'Jose,', 'CA', '95131', '(North', 'Valley', 'area)', '5', 'locations']
['Glen', 'Allen,', 'VA']
['San', 'Francisco,', 'CA', '94129', '(Presidio', 'area)', '1', 'location']
['Boston,', 'MA', '02109', '(Downtown', 'area)']
['San', 'Jose,', 'CA']
['New', 'York,', 'NY']
['Remote', '', 'Coral', 'Gables,', 'FL']
['New', 'York,', 'NY']
['New', 'York,', 'NY', '1', 'location']
['Remote']
['Plano,', 'TX', '75023', '2', 'locations']
['Remote', '', 'Bellevue,', 'WA', '4', 'locations']
['Cambridge,', 'MA']
['Dallas,', 'TX', '75201', '(Downtown', 'area)']
['Arlgton,', 'VA', '3', 'locations']
['McLean,', 'VA']
['Newberg,', 'OR', '97132']
['Van', 'Wert,', 'OH', '45891']
['Oak', 'Ridge,', 'TN', '37830']
['New', 'Orleans,', 'LA']
['Culver', 'City,', 'CA']
['Washgton,', 'DC']
['Richfield,', 'MN', '55423']
['Bellevue,', 'WA', '12', 'locations']
['', '1', 'locationRemote']
['Washgton,', 'DC', '20005', '(Logan', 'Circle', 'area)']
['Remote']
['Offutt', 'AFB,', 'NE']
['Washgton,', 'DC']
['Boston,', 'MA', '02114', '(West', 'End', 'area)']
['Gaithersburg,', 'MD', '20877']
['Plano,', 'TX', '75024']
['Remote', '', 'Washgton,', 'DC']
['', '2', 'locationsRemote']
['Dallas,', 'TX']
['New', 'York,', 'NY']
['Seal', 'Beach,', 'CA', '2', 'locations']
['Tucson,', 'AZ', '1', 'location']
['Mole,', 'IL', '61265']
['San', 'Francisco,', 'CA']
['Baltimore,', 'MD', '21230', '(Locust', 'Pot', 'area)', '1', 'location']
['Mounta', 'View,', 'CA', '94043']
['Jericho,', 'NY', '11753', '1', 'location']
['San', 'Jose,', 'CA', '95101', '(North', 'Valley', 'area)']
['Chicago,', 'IL']
['Remote', '', 'New', 'York,', 'NY', '2', 'locations']
['Remote', '', 'New', 'York', 'State']
['', '8', 'locationsRemote']
['Remote']
['Oakland,', 'CA', '1', 'location']
['Waltham,', 'MA', '02451', '9', 'locations']
['Marietta,', 'GA', '30067']
['Jersey', 'City,', 'NJ', '07302', '(Downtown', 'area)']
['Remote']
['Remote', '', 'Illois', '1', 'location']
['Remote', '', 'Washgton,', 'DC', '5', 'locations']
['Camp', 'Lejeune,', 'NC', '28542', '2', 'locations']
['Remote', '', 'Northbrook,', 'IL', '1', 'location']
['Boston,', 'MA']
['Ewg,', 'NJ', '1', 'location']
['Reston,', 'VA', '20191', '(Hunter', 'area)']
['Denver,', 'CO', '80202', '(Central', 'Busess', 'District', 'area)']
['Sprgfield,', 'VA', '1', 'location']
['Remote', '', 'New', 'York', 'State']
['Mole,', 'IL', '61265']
['', '126', 'locationsRemote']
['Moscow,', 'ID', '83844', '2', 'locations']
['Remote', '', 'Reston,', 'VA']
['Reston,', 'VA', '20191', '(Hunter', 'area)']
['London,', 'OR']
['Remote', '', 'Illois', '1', 'location']
['Chicago,', 'IL']
['Remote', '', 'Washgton,', 'DC', '5', 'locations']
['New', 'York,', 'NY', '10036', '(Midtown', 'area)', '1', 'location']
['Boston,', 'MA']
['San', 'Francisco,', 'CA']
['', '5', 'locationsRemote']
['Remote', '', 'Los', 'Gatos,', 'CA']
['New', 'York,', 'NY', '10036', '(Midtown', 'area)', '1', 'location']
['Marlton,', 'NJ', '08053']
['Boston,', 'MA']
['San', 'Francisco,', 'CA']
['', '5', 'locationsRemote']
['Camp', 'Lejeune,', 'NC', '28542', '2', 'locations']
['Remote', '', 'Los', 'Gatos,', 'CA']
['Sprgfield,', 'VA', '1', 'location']
['Remote', '', 'Illois', '2', 'locations']
['New', 'York,', 'NY', '18', 'locations']
['Redwood', 'City,', 'CA', '94063', '(Middlefield', 'area)']
['Remote']
['New', 'York,', 'NY', '10017', '(Midtown', 'area)']
['Santa', 'Clara,', 'CA', '1', 'location']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '1', 'location']
['Providence,', 'RI', '02912', '(College', 'Hill', 'area)', '1', 'location']
['', '4', 'locationsRemote']
['Bellevue,', 'WA', '14', 'locations']
['Township', 'of', 'Beavercreek,', 'OH', '1', 'location']
['California', '1', 'location']
['', '1', 'locationRemote']
['Boston,', 'MA']
['Remote']
['Washgton,', 'DC', '20010', '(Catholic', 'University', 'area)']
['Auburn', 'Hills,', 'MI', '48326', '2', 'locations']
['Seattle,', 'WA', '98101', '(Downtown', 'area)', '1', 'location']
['New', 'York,', 'NY', '1', 'location']
['Los', 'Angeles,', 'CA', '5', 'locations']
['Remote']
['San', 'Jose,', 'CA', '95131', '(North', 'Valley', 'area)', '5', 'locations']
['Chicago,', 'IL']
['Dallas,', 'TX']
['New', 'York,', 'NY']
['Mounta', 'View,', 'CA', '94043']
['Temporarily', 'Remote', '', 'San', 'Francisco,', 'CA', '1', 'location']
['Hybrid', 'remote', '', 'Chicago,', 'IL']
['Allentown,', 'PA']
['Ccnati,', 'OH', '2', 'locations']
['Remote']
['Remote']
['South', 'San', 'Francisco,', 'CA']
['Remote']
['Tampa,', 'FL', '33602', '(Downtown', 'area)']
['Denver,', 'CO', '80202', '(Central', 'Busess', 'District', 'area)']
['Durham,', 'NC', '2', 'locations']
['Tampa,', 'FL', '33602', '(Downtown', 'area)']
['New', 'York,', 'NY', '18', 'locations']
['Denver,', 'CO', '80202', '(Central', 'Busess', 'District', 'area)']
['Boston,', 'MA', '02116', '(South', 'End', 'area)', '2', 'locations']
['McLean,', 'VA', '33', 'locations']
['Remote']
['Moscow,', 'ID', '83844', '2', 'locations']
['Remote']
['Sunnyvale,', 'CA', '94089', '2', 'locations']
['Chevy', 'Chase,', 'MD', '20815', '3', 'locations']
['Remote', '', 'San', 'Francisco,', 'CA']
['Alameda,', 'CA']
['Remote', '', 'St.', 'Louis,', 'MO', '1', 'location']
['New', 'York,', 'NY', '10013', '(Tribeca', 'area)']
['Aust,', 'TX', '32', 'locations']
['Boston,', 'MA']
['Livonia,', 'MI']
['New', 'York,', 'NY']
['Cambridge,', 'MA']
['Bridgeport,', 'CT', '2', 'locations']
['Milwaukee,', 'WI']
['Denver,', 'CO']
['Houston,', 'TX']
['San', 'Francisco,', 'CA']
['Remote', '', 'Eden', 'Prairie,', 'MN', '5', 'locations']
['Santa', 'Clara,', 'CA', '95054', '1', 'location']
['Chicago,', 'IL']
['Hybrid', 'remote', '', 'Raleigh,', 'NC']
['Cambridge,', 'MA', '1', 'location']
['Hybrid', 'remote', '', 'Seattle,', 'WA']
['Bridgewater,', 'NJ']
['San', 'Francisco,', 'CA']
['Remote', '', 'Boston,', 'MA', '1', 'location']
['Remote', '', 'New', 'York,', 'NY']
['Atlanta,', 'GA', '2', 'locations']

,Unnamed: 0,title,company,location,company_rating,description,avg_salary,remote,state
18,18,Data Scientist I,Amazon.com Services LLC,+126 locationsRemote,3.5,"M.S. or equivalent in Statistics, Mathematics,...",126350.0,1,0
30,30,(Remote) Data Scientist,Outten & Golden,Remote,4.0,Outten & Golden is accepting applications for ...,0.0,1,0
40,40,Data Scientist - REMOTE,Appen Butler Hill Inc.,Remote,NaN,Overview:\nDATA SCIENTIST\nPosition Summary\nA...,0.0,1,0
42,42,Green Energy Data Scientist,Piper Companies,+3 locationsRemote,4.5,Piper Companies is seeking a Green Energy Data...,125000.0,1,0
51,51,Data Scientist (Remote),XSELL Technologies,Remote,3.5,About XSELL\nReady to write the best chapter o...,0.0,1,0

In [58]:
# python
# aws
# gcp
# excel
# spark

df['python'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'python' in x.lower() else 0)
df['aws'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'aws' in x.lower() else 0)
df['gcp'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'gcp' in x.lower() else 0)
df['excel'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'excel' in x.lower() else 0)
df['spark'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'spark' in x.lower() else 0)
df['sql'] = df['sql'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'sql' in x.lower() else 0)

df.columns
df.drop('Unnamed: 0',axis = 1, inplace = False)
df.to_csv('job_data_cleaned.csv')
df

,Unnamed: 0,title,company,location,company_rating,description,avg_salary,remote,state,python,aws,gcp,excel,spark,sql
0,0,Junior Data Scientist Apprentice,IBM,"New York, NY 10001 (Chelsea area)+1 location",3.9,Introduction\nAs a Junior Data Scientist at IB...,0.0,0,NY,1,0,0,0,1,0
1,1,Data Scientist,Adidas,"Portland, OR+1 location",4.0,Purpose & Overall Relevance for the Organizati...,0.0,0,OR,1,1,0,1,0,1
2,2,Junior Data Scientist (NYC or Remote),ViacomCBS,"Remote in New York, NY+1 location",3.9,ViacomCBS (NASDAQ:\nVIAC; VIACA) is a leading ...,0.0,1,NY,1,0,0,0,0,1
3,3,"Associate Data Scientist, User Fraud",Spotify,"Hybrid remote in New York, NY+14 locations",4.3,Content\nData\nWe’re looking for an Associate ...,0.0,1,NY,1,0,0,0,0,1
4,4,"Data Scientist, Game Analytics & Strategy",the NBA,"New York, NY 10022 (Midtown area)+1 location",4.2,"At the NBA, we’re passionate about growing and...",0.0,0,NY,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,1470,Data Scientist,Hyperspace Ventures,"Durham, NC",NaN,NaN,0.0,0,NC,0,0,0,0,0,0
1471,1471,Principal Data Scientist,Schneider Electric,"Boston, MA",3.9,NaN,0.0,0,MA,0,0,0,0,0,0
1472,1472,Data Scientist,"TTI, INC.","Fort Worth, TX 76106 (Northside area)",3.6,NaN,0.0,0,TX,0,0,0,0,0,0
1473,1473,Principal Data Scientist,Silicon Valley Bank,"Tempe, AZ+2 locations",3.8,NaN,0.0,0,AZ,0,0,0,0,0,0
1474,1474,Data Scientist,CarShield,"O'Fallon, MO 63376",4.4,NaN,0.0,0,MO,0,0,0,0,0,0

In [59]:
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
df.head()

,Unnamed: 0,title,company,location,company_rating,description,avg_salary,remote,state,python,aws,gcp,excel,spark,sql
0,0,Junior Data Scientist Apprentice,IBM,"New York, NY 10001 (Chelsea area)+1 location",3.9,Introduction\nAs a Junior Data Scientist at IB...,0.0,0,NY,1,0,0,0,1,0
1,1,Data Scientist,Adidas,"Portland, OR+1 location",4.0,Purpose & Overall Relevance for the Organizati...,0.0,0,OR,1,1,0,1,0,1
2,2,Junior Data Scientist (NYC or Remote),ViacomCBS,"Remote in New York, NY+1 location",3.9,ViacomCBS (NASDAQ:\nVIAC; VIACA) is a leading ...,0.0,1,NY,1,0,0,0,0,1
3,3,"Associate Data Scientist, User Fraud",Spotify,"Hybrid remote in New York, NY+14 locations",4.3,Content\nData\nWe’re looking for an Associate ...,0.0,1,NY,1,0,0,0,0,1
4,4,"Data Scientist, Game Analytics & Strategy",the NBA,"New York, NY 10022 (Midtown area)+1 location",4.2,"At the NBA, we’re passionate about growing and...",0.0,0,NY,1,0,0,1,0,1

In [61]:
df.columns

Index(['Unnamed: 0', 'title', 'company', 'location', 'company_rating',
       'description', 'avg_salary', 'remote', 'state', 'python', 'aws', 'gcp',
       'excel', 'spark', 'sql'],
      dtype='object')

In [74]:
df["title"].value_counts()
# job title parsing
def jobtitle_cleaning(title):
    title = title.lower()
    if 'data scientist' in title:
        return "data scientist"
    elif 'data engineer' in title:
        return 'data engineer'
    elif 'machine learning' in title:
        return 'mle'
    elif 'analyst' in title:
        return 'analyst'
    elif 'manager' in title:
        return 'manager'
    elif 'director' in title:
        return 'director'
    else:
        return 'na'
    
def seniority_cleaning(title):
    seniors = ['sr','senior','sr.','lead','principal']
    juniors = ['jr', 'jr.', 'junior']
    title = title.lower()
    for senior in seniors:
        if senior in title:
            return 'senior'
    for junior in juniors:
        if junior in title:
            return 'junior'
    return 'na'
    

df['title_category'] =  df['title'].apply(lambda x: jobtitle_cleaning(x) if isinstance(x, str) else 'na')
df['seniority'] =  df['title'].apply(lambda x: seniority_cleaning(x) if isinstance(x, str) else 'na')

In [75]:
df['title_category'].value_counts()
# df['seniority'].value_counts()

data scientist    1321
na                 108
analyst             41
data engineer        5
Name: title_category, dtype: int64

In [68]:
df.shape

(1475, 17)

In [73]:
df_w_salary = df[df['avg_salary'] != 0]
df_w_salary.shape
df_w_salary

,Unnamed: 0,title,company,location,company_rating,description,avg_salary,remote,state,python,aws,gcp,excel,spark,sql,title_category,seniority
14,14,Data Scientist- RAFP,Government of the District of Columbia,"Washington, DC 20005 (Downtown area)+1 location",3.6,A term appointment can last from 13 months and...,102359.5,0,DC,0,0,0,0,0,0,data scientist,na
18,18,Data Scientist I,Amazon.com Services LLC,+126 locationsRemote,3.5,"M.S. or equivalent in Statistics, Mathematics,...",126350.0,1,0,1,1,0,1,1,1,data scientist,na
26,26,Data Scientist,Cigna,"Remote in Hartford, CT",3.7,"Remote, Work from Home, United States\nPositio...",93900.0,1,CT,1,1,0,1,0,1,data scientist,na
29,29,"Data Scientist, Product (Remote)",Drizly,"Remote in Boston, MA",3.6,Who we are\nDrizly is the world’s largest alco...,110500.0,1,MA,1,0,0,0,0,1,data scientist,na
32,32,Data Scientist,State of Connecticut - Department of Public He...,"Hartford, CT",4.0,"The State of Connecticut, Department of Public...",108806.0,0,CT,1,0,0,1,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,1425,Lead Data Scientist,S&P Global,"Cambridge, MA 02138 (West Cambridge area)+13 l...",3.9,NaN,136650.0,0,MA,0,0,0,0,0,0,data scientist,senior
1430,1430,"Research Scientist - HPC, WWPS Data and Machin...","Amazon Web Services, Inc.",+6 locationsRemote,3.5,NaN,125000.0,1,0,0,0,0,0,0,0,na,na
1434,1434,Data Scientist/Principal Data Scientist,Northrop Grumman,"Melbourne, FL+3 locations",4.0,NaN,97900.0,0,FL,0,0,0,0,0,0,data scientist,senior
1460,1460,Senior Data Scientist - Work from home-Evernorth,Cigna,"Hartford, CT 06152 (Frog Hollow area)+1 location",3.7,NaN,127700.0,0,CT,0,0,0,0,0,0,data scientist,senior
1464,1464,Data Scientist/Principal Data Scientist,Northrop Grumman,"Melbourne, FL+3 locations",4.0,NaN,97900.0,0,FL,0,0,0,0,0,0,data scientist,senior