In [694]:
import pandas as pd
import numpy as np
from numpy import nan

In [695]:
df = pd.read_csv("jobs18.csv")

In [696]:
df.head()

,Unnamed: 0,title,company,salary,location,company_rating,description
0,0,Junior Data Scientist (NYC or Remote),ViacomCBS,NaN,"Remote in New York, NY+1 location",3.9,ViacomCBS (NASDAQ:\nVIAC; VIACA) is a leading ...
1,1,"Associate Data Scientist, Content Analytics",Spotify,NaN,Remote in Oregon+12 locations,4.3,"Data, Research & Insights\nData Science\nSpoti..."
2,2,"Data Scientist, TikTok Creation and Consumption",TikTok,NaN,"San Francisco, CA+34 locations",3.5,TikTok is the leading destination for short-fo...
3,3,"Data Scientist, Game Analytics & Strategy",the NBA,NaN,"New York, NY 10022 (Midtown area)+1 location",4.2,"At the NBA, we’re passionate about growing and..."
4,4,Data Scientist and Analytics Specialist,Delta,NaN,"Atlanta, GA+4 locations",4.2,"United States, Georgia, Atlanta\nProduct Manag..."

In [697]:
df.shape

(450, 7)

We will start to work from salary column. Goal here is to have 
1) mean value for the salary if they have a salary estimation
2) or leave it as NaN

First Let's figure out
- How many NaN value we have
- How many value that we can use
- structure of non NaN values
- extract only numbers

In [698]:
print('we have', df['salary'].isna().sum(), 'Nan value for the salary column')
print('that indicates that we have only 56 values to use')

we have 394 Nan value for the salary column
that indicates that we have only 56 values to use

In [699]:
salary = df['salary']
salary_notnull = salary[salary.notnull()]
print(salary_notnull)

11           $110,000 - $140,000 a year
12            $72,272 - $176,300 a year
17            $92,700 - $160,000 a year
21                      $110,500 a year
23            $83,690 - $160,000 a year
26            $70,400 - $117,400 a year
29            $76,000 - $148,000 a year
33            $83,690 - $160,000 a year
35           $120,000 - $223,000 a year
36            $72,272 - $176,300 a year
39     Estimated $47.7K – $60.3K a year
41            $90,000 - $150,000 a year
46            $90,000 - $150,000 a year
55            $86,389 - $116,788 a year
57            $70,400 - $117,400 a year
58                       $95,000 a year
69            $65,072 - $117,129 a year
71           $125,000 - $175,000 a year
72            $90,000 - $150,000 a year
75           $118,248 - $127,208 a year
93                       $98,000 a year
96             $4,372 - $10,792 a month
104           $90,000 - $161,000 a year
112           $90,000 - $161,000 a year
117           $96,400 - $144,600 a year
133          $125,000 - $175,000 a year
145          $104,000 - $156,000 a year
165                      $95,000 a year
170                     $157,500 a year
171          $135,000 - $145,000 a year
187          $106,500 - $130,200 a year
191           $90,000 - $161,000 a year
194           $70,928 - $107,058 a year
204           $95,000 - $160,000 a year
210                   $80 - $85 an hour
212          $129,300 - $193,900 a year
213          $100,000 - $218,163 a year
228      Estimated $117K – $149K a year
243          $148,484 - $176,300 a year
262           $68,300 - $113,800 a year
277          $108,000 - $200,000 a year
297               Up to $130,000 a year
298           $90,000 - $120,000 a year
310           $95,000 - $186,000 a year
319               Up to $130,000 a year
337            $80,000 - $90,000 a year
341    Estimated $63.7K – $80.7K a year
347                      $82,400 a year
382          $107,000 - $194,000 a year
387           $95,000 - $200,000 a year
397           $72,000 - $108,500 a year
408                Up to $65,000 a year
410          $135,000 - $165,000 a year
417                     $125,000 a year
422               Up to $165,700 a year
447          $174,000 - $259,000 a year
Name: salary, dtype: object

Now let's extract numbers only from the salary columns

In [700]:
def str_contains_n(str):
    num_str = "0123456789"
    word_list = []
    words = str.split(" ")
    for word in words:
        word_has_n = False
        for char in word:
            if char in num_str:
                word_has_n = True
        if word_has_n:
            word_list.append(word)
    result = '-'.join(word_list)
    return result

In [701]:
df['k_unit'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'k' in x.lower() else 0)
df['yearly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'a year' in x.lower() else 0)
df['monthly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'a month' in x.lower() else 0)
df['hourly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'an hour' in x.lower() else 0)

salary = salary.apply(lambda x: str_contains_n(x) if isinstance(x, str) else None)
salary = salary.apply(lambda x: x.lower().replace("$","").replace("k","").replace(",","") if x != None else None)
salary = salary.apply(lambda x: x if isinstance(x,str) else 0)

df['salary_edit'] = salary

df['min_salary'] = salary.apply(lambda x: float(x.split('-')[0]) if isinstance(x,str) else 0)
df['max_salary'] = salary.apply(lambda x: float(x.split('-')[1]) if isinstance(x,str) and len(x.split('-')) >1 else(float(x.split('-')[0]) if isinstance(x,str) else 0))
df['avg_salary'] = (df['min_salary'] + df['max_salary'])/2

# take care of k_unit
df.loc[df['k_unit'] == 1,['min_salary']] = df[df['k_unit'] == 1].min_salary * 1000
df.loc[df['k_unit'] == 1,['max_salary']] = df[df['k_unit'] == 1].max_salary * 1000
df.loc[df['k_unit'] == 1,['avg_salary']] = df[df['k_unit'] == 1].avg_salary * 1000
df.loc[df['k_unit'] == 1]

# take care of monthly, for the monthly we have to multiply 12
df.loc[df['monthly'] == 1,['min_salary']] = df[df['monthly'] == 1].min_salary * 12
df.loc[df['monthly'] == 1,['max_salary']] = df[df['monthly'] == 1].max_salary * 12
df.loc[df['monthly'] == 1,['avg_salary']] = df[df['monthly'] == 1].avg_salary * 12
df.loc[df['monthly'] == 1]

df.loc[df['hourly'] == 1,['min_salary']] = df[df['hourly'] == 1].min_salary * 40 * 52
df.loc[df['hourly'] == 1,['max_salary']] = df[df['hourly'] == 1].max_salary * 40 * 52
df.loc[df['hourly'] == 1,['avg_salary']] = df[df['hourly'] == 1].avg_salary * 40 * 52
df.loc[df['hourly'] == 1]

# df.at[df['k_unit'] == 1, 'Product_Name'] = df[df['k_unit'] == 1].min_salary * 1000
# Now that we have get the yearly average salary correctly we can drop all unneccessary columns

df.drop(['k_unit','yearly','monthly','hourly','salary_edit','min_salary','max_salary','salary'], axis=1, inplace = True)
# pd.set_option("display.max_rows", None, "display.max_columns", None)

Now we need to clean up the location columns
there are few information we can extract
1. remote or not
2. state name

1) we can compare whether remote job gives more salary or the onsite job
2) which state gives are more salary
3) even with the remote job, does the state gives out high salary still gives are high salary

the above questions we can answer later on

In [702]:

df['remote'] = df['location'].apply(lambda x: 1 if isinstance(x,str) and 'remote' in x.lower() else 0)
df.groupby('remote').count()
# we can see that 158/450 jobs are remote

,Unnamed: 0,title,company,location,company_rating,description,avg_salary
remote,,,,,,,
0,292,292,292,292,251,174,292
1,158,158,158,158,119,121,158

In [703]:
# Let's extract state name
# from https://gist.github.com/JeffPaine/3083347 I copied the state acronymn list
states_ac = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

states_dict = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

states = []
for state in states_dict:
    states.append(states_dict[state])

states_all = states_ac + states

In [704]:
import re
newData = "GeeksforGeeks, is_an-awesome ! app + too"
  
# To split "+" use backslash
print(re.split(', |_|-|!|\+', newData))

def check_contains_ele(location, state_list):
    location = location.replace('in',"")
    location_list = re.split(' |\+',location)
    print(location_list)
    for location in location_list:
         for state in state_list:
             if location.lower() == state.lower():
                 return state
    return 0
    
df['state'] = df['location'].apply(lambda x: check_contains_ele(x, states_all) if isinstance(x,str)  else 0)
df[df['state'] == 0]

['GeeksforGeeks', 'is', 'an', 'awesome ', ' app ', ' too']
['Remote', '', 'New', 'York,', 'NY', '1', 'location']
['Remote', '', 'Oregon', '12', 'locations']
['San', 'Francisco,', 'CA', '34', 'locations']
['New', 'York,', 'NY', '10022', '(Midtown', 'area)', '1', 'location']
['Atlanta,', 'GA', '4', 'locations']
['Hybrid', 'remote', '', 'Seattle,', 'WA', '2', 'locations']
['Boston,', 'MA']
['San', 'Jose,', 'CA', '95101', '(North', 'Valley', 'area)']
['Plano,', 'TX', '75024', '1', 'location']
['Jericho,', 'NY', '11753', '1', 'location']
['New', 'York,', 'NY']
['', '3', 'locationsRemote']
['Washgton,', 'DC', '20505', '(Foggy', 'Bottom', 'area)']
['Remote', '', 'Cummg,', 'GA', '3', 'locations']
['Stone', 'Mounta,', 'GA', '4', 'locations']
['Stone', 'Mounta,', 'GA', '4', 'locations']
['Atlanta,', 'GA', '30349', '5', 'locations']
['', '126', 'locationsRemote']
['Atlanta,', 'GA', '32', 'locations']
['Remote', '', 'New', 'York,', 'NY', '3', 'locations']
['Remote', '', 'California']
['Remote', '', 'Boston,', 'MA']
['Remote', '', 'Irwdale,', 'CA', '1', 'location']
['Remote', '', 'New', 'York,', 'NY']
['Seattle,', 'WA', '98101', '(Denny', 'Triangle', 'area)', '3', 'locations']
['Remote', '', 'Menlo', 'Park,', 'CA']
['Remote', '', 'Hartford,', 'CT', '1', 'location']
['Newark,', 'NJ', '07102', '(Central', 'Busess', 'District', 'area)', '2', 'locations']
['Decherd,', 'TN']
['Salt', 'Lake', 'City,', 'UT', '84112', '(East', 'Bench', 'area)']
['Beaverton,', 'OR', '3', 'locations']
['Chicago,', 'IL', '60637', '(Woodlawn', 'area)', '1', 'location']
['San', 'Jose,', 'CA', '2', 'locations']
['Remote', '', 'New', 'York,', 'NY']
['North', 'Readg,', 'MA', '01864']
['Remote', '', 'Colorado', '36', 'locations']
['Washgton,', 'DC', '20505', '(Foggy', 'Bottom', 'area)']
['Plasboro,', 'NJ', '08536', '2', 'locations']
['Remote', '', 'Washgton,', 'DC', '5', 'locations']
['Chapel', 'Hill,', 'NC', '27599', '1', 'location']
['Boston,', 'MA', '02116', '(Back', 'Bay', 'area)', '126', 'locations']
['Remote', '', 'Englewood,', 'CO']
['Concord,', 'MA']
['Remote', '', 'McLean,', 'VA']
['Remote', '', 'Irwdale,', 'CA', '1', 'location']
['New', 'York,', 'NY', '1', 'location']
['Remote', '', 'Englewood,', 'CO']
['Concord,', 'MA']
['Remote', '', 'McLean,', 'VA']
['Remote', '', 'Irwdale,', 'CA', '1', 'location']
['Anderson,', 'SC']
['Boston,', 'MA']
['Remote']
['Morrisville,', 'NC']
['Remote', '', 'California', '1', 'location']
['Fort', 'Meade,', 'MD', '1', 'location']
['Remote', '', 'Morgantown,', 'WV', '2', 'locations']
['Remote', '', 'Hartford,', 'CT', '1', 'location']
['Hybrid', 'remote', '', 'Mounta', 'View,', 'CA', '8', 'locations']
['Remote', '', 'New', 'York,', 'NY']
['Houston,', 'TX']
['Houston,', 'TX', '1', 'location']
['Chicago,', 'IL', '60611', '(Near', 'North', 'Side', 'area)', '1', 'location']
['New', 'York,', 'NY']
['Boston,', 'MA', '72', 'locations']
['Seattle,', 'WA']
['Remote']
['Dearborn,', 'MI', '4', 'locations']
['Remote', '', 'Redmond,', 'WA', '16', 'locations']
['Durham,', 'NC', '27701']
['San', 'Jose,', 'CA', '6', 'locations']
['Remote', '', 'Colorado']
['Remote', '', 'Englewood,', 'CO']
['Remote', '', 'Aust,', 'TX', '4', 'locations']
['Hybrid', 'remote', '', 'Orrville,', 'OH']
['Boston,', 'MA']
['Fort', 'Worth,', 'TX', '76102', '(Sunset', 'Terrace', 'area)']
['New', 'York,', 'NY']
['Corng,', 'NY', '14831', '1', 'location']
['Atlanta,', 'GA', '30349', '5', 'locations']
['Santa', 'Monica,', 'CA']
['Sugar', 'Land,', 'TX']
['Remote']
['Eden', 'Prairie,', 'MN', '55347']
['Morrisville,', 'PA', '19067']
['Remote', '', 'New', 'York,', 'NY']
['Remote', '', 'Illois', '1', 'location']
['Newark,', 'NJ', '07102', '(Central', 'Busess', 'District', 'area)', '1', 'location']
['Grand', 'Prairie,', 'TX', '75051', '7', 'locations']
['Cambridge,', 'MA', '02139', '(MIT', 'area)', '3', 'locations']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)', '1', 'location']
['Palo', 'Alto,', 'CA', '3', 'locations']
['Culver', 'City,', 'CA']
['Remote']
['Virgia', '1', 'location•Remote']
['Cambridge,', 'MA', '02139', '(The', 'Port', 'area)', '8', 'locations']
['Long', 'Beach,', 'CA']
['New', 'York,', 'NY•Remote']
['Aust,', 'TX', '3', 'locations']
['Chesterfield,', 'MO', '63017']
['Stanford,', 'CA', '1', 'location•Temporarily', 'Remote']
['Boston,', 'MA', '02199', '(Back', 'Bay', 'area)', '3', 'locations•Remote']
['San', 'Francisco,', 'CA', '6', 'locations']
['Scottsdale,', 'AZ', '85260', '(North', 'Scottsdale', 'area)']
['Remote']
['Remote', '', 'New', 'York,', 'NY']
['San', 'Jose,', 'CA', '95131', '(North', 'Valley', 'area)', '10', 'locations']
['Aust,', 'TX', '3', 'locations']
['Chesterfield,', 'MO', '63017']
['Temporarily', 'Remote', '', 'Stanford,', 'CA', '1', 'location']
['Remote', '', 'Boston,', 'MA', '3', 'locations']
['Scottsdale,', 'AZ', '85260', '(North', 'Scottsdale', 'area)']
['Remote']
['Orlando,', 'FL', '32827', '(Orlando', 'International', 'Airport', 'area)', '1', 'location']
['Remote', '', 'McLean,', 'VA']
['Remote']
['Sylmar,', 'CA', '1', 'location']
['Remote', '', 'Chandler,', 'AZ', '2', 'locations']
['Remote', '', 'Billerica,', 'MA']
['Cambridge,', 'MA', '02139', '(MIT', 'area)', '3', 'locations']
['Remote', '', 'Seattle,', 'WA', '10', 'locations']
['New', 'York,', 'NY', '10017', '(Tudor', 'City', 'area)', '6', 'locations']
["O'Fallon,", 'MO', '63368', '3', 'locations']
['', '1', 'locationRemote']
['Durham,', 'NC', '27709', '1', 'location']
['Remote', '', 'Birmgham,', 'AL', '3', 'locations']
['New', 'York,', 'NY', '10001', '(Chelsea', 'area)']
['Plano,', 'TX', '4', 'locations']
['Remote', '', 'Menlo', 'Park,', 'CA']
['Remote', '', 'Seattle,', 'WA', '3', 'locations']
['Remote', '', 'Atlanta,', 'GA']
['New', 'York,', 'NY', '10017', '(Tudor', 'City', 'area)']
['Remote', '', 'Chicago,', 'IL']
['Remote', '', 'Colorado']
['Remote', '', 'Utah']
['Chicago,', 'IL', '4', 'locations']
['New', 'York,', 'NY', '10017', '(Turtle', 'Bay', 'area)', '1', 'location']
['California', '18', 'locations']
['', '1', 'locationRemote']
['Remote', '', 'Bellevue,', 'WA', '4', 'locations']
['Remote']
['Lancaster,', 'PA']
['Remote', '', 'Arizona', '2', 'locations']
['San', 'Francisco,', 'CA', '3', 'locations']
['Remote', '', 'Seattle,', 'WA']
['', '2', 'locationsRemote']
['New', 'York,', 'NY', '10011', '(Chelsea', 'area)']
['Remote']
['Remote', '', 'California', '3', 'locations']
['New', 'York,', 'NY']
['Dallas,', 'TX', '75202', '(Downtown', 'area)', '5', 'locations']
['Waltham,', 'MA', '02451', '9', 'locations']
['South', 'Jordan,', 'UT', '84095']
['New', 'York,', 'NY', '5', 'locations']
['Remote', '', 'Seattle,', 'WA']
['Los', 'Angeles,', 'CA', '90064', '(Sawtelle', 'area)', '1', 'location']
['Remote']
['New', 'York,', 'NY', '(Chelsea', 'area)']
['San', 'Francisco,', 'CA', '(Fancial', 'District/South', 'Beach', 'area)']
['Remote', '', 'Reston,', 'VA', '4', 'locations']
['San', 'Francisco,', 'CA', '(Mission', 'Bay', 'area)', '2', 'locations']
['South', 'San', 'Francisco,', 'CA']
['Burbank,', 'CA', '91505']
['Ccnati,', 'OH', '45201', '(Central', 'Busess', 'District', 'area)']
['Remote']
['Hybrid', 'remote', '', 'Mounta', 'View,', 'CA', '8', 'locations']
['Remote', '', 'Plano,', 'TX']
['Cambridge,', 'MA', '1', 'location']
['Remote', '', 'Aust,', 'TX', '3', 'locations']
['Remote', '', 'New', 'York,', 'NY', '9', 'locations']
['Remote', '', 'Beaverton,', 'OR', '1', 'location']
['Remote']
['Remote']
['Remote', '', 'San', 'Diego,', 'CA', '1', 'location']
['San', 'Mateo,', 'CA', '94402', '(Beresford', 'area)']
['Remote', '', 'St.', 'Louis,', 'MO']
['Remote', '', 'Eden', 'Prairie,', 'MN', '7', 'locations']
['Kansas', 'City,', 'MO', '2', 'locations']
['New', 'York,', 'NY', '6', 'locations']
['Remote', '', 'Danville,', 'PA']
['Boston,', 'MA']
['Aust,', 'TX', '2', 'locations']
['Arlgton,', 'VA', '22202', '(Aurora', 'Highlands', 'area)', '2', 'locations']
['Remote']
['Lake', 'Success,', 'NY']
['', '2', 'locationsRemote']
['Washgton,', 'DC', '1', 'location']
['Remote', '', 'California', '1', 'location']
['Sacramento,', 'CA', '1', 'location']
['Atlanta,', 'GA', '1', 'location']
['The', 'Woodlands,', 'TX', '77380']
['Remote']
['Redmond,', 'WA', '98052', '(Overlake', 'area)', '14', 'locations']
['Boston,', 'MA', '02116', '(Back', 'Bay', 'area)', '6', 'locations']
['Mneapolis,', 'MN']
['Chicago,', 'IL', '60661', '(West', 'Loop', 'Gate', 'area)', '3', 'locations']
['Plano,', 'TX', '75024', '1', 'location']
['The', 'Woodlands,', 'TX', '77380', '1', 'location']
['Detroit,', 'MI']
['Sugar', 'Land,', 'TX']
['Boston,', 'MA', '02109', '(Downtown', 'area)']
['Fort', 'Worth,', 'TX', '76102', '(Sunset', 'Terrace', 'area)', '1', 'location']
['San', 'Jose,', 'CA', '5', 'locations']
['Herndon,', 'VA']
['Remote']
['Dearborn,', 'MI', '6', 'locations']
['Remote', '', 'Eden', 'Prairie,', 'MN', '1', 'location']
['New', 'York,', 'NY', '10018', '(Garment', 'District', 'area)']
['Remote', '', 'Bellevue,', 'WA']
['Chicago,', 'IL']
['Raleigh,', 'NC']
['Chicago,', 'IL', '4', 'locations']
['Seattle,', 'WA', '13', 'locations']
['New', 'York,', 'NY']
['New', 'York,', 'NY', '10017', '(Turtle', 'Bay', 'area)', '1', 'location']
['', '1', 'locationRemote']
['Remote', '', 'Bellevue,', 'WA', '4', 'locations']
['Remote']
['Lancaster,', 'PA']
['Remote', '', 'Arizona', '2', 'locations']
['San', 'Francisco,', 'CA', '3', 'locations']
['Remote', '', 'Seattle,', 'WA']
['Remote', '', 'Massachusetts']
['Remote', '', 'Dallas,', 'TX', '7', 'locations']
['Ccnati,', 'OH', '45201', '(Central', 'Busess', 'District', 'area)', '9', 'locations']
['Chicago,', 'IL', '(The', 'Loop', 'area)']
['San', 'Diego,', 'CA', '92121', '(Sorrento', 'Valley', 'area)']
['Atlanta,', 'GA', '2', 'locations']
['Remote', '', 'Glen', 'Echo,', 'MD']
['San', 'Francisco,', 'CA']
['New', 'York,', 'NY', '4', 'locations']
['Chicago,', 'IL', '60661', '(West', 'Loop', 'Gate', 'area)', '9', 'locations']
['Plano,', 'TX', '75024', '1', 'location']
['Dallas,', 'TX', '1', 'location']
['The', 'Woodlands,', 'TX', '77380']
['Woonsocket,', 'RI', '02895', '20', 'locations']
['Detroit,', 'MI']
['Sugar', 'Land,', 'TX']
['Boston,', 'MA', '02109', '(Downtown', 'area)']
['Fort', 'Worth,', 'TX', '76102', '(Sunset', 'Terrace', 'area)']
['Remote', '', 'California']
['Onamia,', 'MN', '56359']
['Los', 'Angeles,', 'CA']
['Temporarily', 'Remote', '', 'Montgomery', 'County,', 'MD']
['Mounta', 'View,', 'CA', '94041', '(Old', 'Mounta', 'View', 'area)', '8', 'locations']
['Boston,', 'MA']
['Columbus,', 'OH', '2', 'locations']
['Gaithersburg,', 'MD', '20878', '1', 'location']
['Boston,', 'MA', '02215', '(Fenway-Kenmore', 'area)']
['Boston,', 'MA']
['Los', 'Angeles,', 'CA']
['Remote', '', 'Coral', 'Gables,', 'FL']
['Remote', '', 'New', 'York', 'State']
['Boulder,', 'CO', '80301', '2', 'locations']
['Alpharetta,', 'GA']
['Washgton,', 'DC']
['San', 'Francisco,', 'CA']
['Remote']
['Remote', '', 'Massachusetts', '2', 'locations']
['Chicago,', 'IL']
['Phoenix,', 'AZ', '85004', '(Encanto', 'area)']
['San', 'Francisco,', 'CA', '(Mission', 'Bay', 'area)', '2', 'locations']
['Hartford,', 'CT', '06152', '(Frog', 'Hollow', 'area)']
['Jersey', 'City,', 'NJ', '5', 'locations']
['Atlanta,', 'GA', '30339']
['Santa', 'Clara,', 'CA', '95052', '5', 'locations']
['New', 'York,', 'NY', '5', 'locations']
['New', 'York,', 'NY', '10012', '(Greenwich', 'Village', 'area)', '5', 'locations']
['Mounta', 'View,', 'CA', '94043', '2', 'locations']
['Remote']
['Plano,', 'TX', '75024']
['Onamia,', 'MN', '56359']
['Remote', '', 'Manchester,', 'NH', '1', 'location']
['Short', 'Hills,', 'NJ', '07078', '1', 'location']
['Hybrid', 'remote', '', 'Sacramento,', 'CA']
['Santa', 'Clara,', 'CA', '1', 'location']
['Oak', 'Ridge,', 'TN', '37831', '2', 'locations']
['Remote', '', 'Colorado', '18', 'locations']
['Atlanta,', 'GA', '30309', '(Midtown', 'area)']
['Culver', 'City,', 'CA', '90232']
['Remote', '', 'Texas']
['Columbia,', 'MD', '21046', '3', 'locations']
['Irvg,', 'TX', '75063', '(Valley', 'Ranch', 'area)', '1', 'location']
['Mounta', 'View,', 'CA', '94041', '(Old', 'Mounta', 'View', 'area)', '8', 'locations']
['Northridge,', 'CA', '91325', '7', 'locations']
['Mneapolis,', 'MN', '55415', '(Downtown', 'East', 'area)']
['Parsippany,', 'NJ', '07054']
['Milwaukee,', 'WI']
['Tampa,', 'FL']
['Remote', '', 'Palo', 'Alto,', 'CA', '1', 'location']
['San', 'Jose,', 'CA']
['Remote']
['Remote', '', 'Boston,', 'MA', '1', 'location']
['Foster', 'City,', 'CA', '2', 'locations']
['Short', 'Hills,', 'NJ', '07078', '1', 'location']
['Las', 'Vegas,', 'NV']
['Newark,', 'NJ', '07102', '(Central', 'Busess', 'District', 'area)', '1', 'location']
['Los', 'Angeles,', 'CA', '1', 'location']
['Denver,', 'CO', '80231']
['Remote']
['New', 'York,', 'NY', '1', 'location']
['Remote', '', 'San', 'Jose,', 'CA', '2', 'locations']
['New', 'York,', 'NY', '10014', '(West', 'Village', 'area)']
['Remote', '', 'Massachusetts', '18', 'locations']
['Boston,', 'MA', '02110', '(Downtown', 'area)']
['Remote', '', 'Washgton,', 'DC', '5', 'locations']
['Remote', '', 'Warren,', 'MI', '3', 'locations']
['Durham,', 'NC', '27709']
['Remote', '', 'Reston,', 'VA']
['New', 'York,', 'NY']
['Broomfield,', 'CO', '80021', '(Interlocken', 'area)', '18', 'locations']
['', '5', 'locationsRemote']
['Foster', 'City,', 'CA']
['Remote', '', 'Westborough,', 'MA', '1', 'location']
['Seattle,', 'WA', '8', 'locations']
['Chicago,', 'IL', '60604', '(The', 'Loop', 'area)']
['Las', 'Vegas,', 'NV']
['Rockville,', 'MD', '20850', '(Town', 'Center', 'area)']
['Santa', 'Monica,', 'CA', '90401', '(Wilshire/Montana', 'area)']
['Los', 'Angeles,', 'CA', '1', 'location']
['Remote', '', 'Chicago,', 'IL']
['Hershey,', 'PA', '1', 'location']
['Remote', '', 'Irve,', 'CA']
['Mounta', 'View,', 'CA', '94043', '12', 'locations']
['San', 'Jose,', 'CA']
['Tampa,', 'FL']
['New', 'York,', 'NY']
['Los', 'Angeles,', 'CA', '90291', '(Venice', 'area)', '8', 'locations']
['Durham,', 'NC', '27709', '1', 'location']
['Washgton,', 'DC']
['Ashburn,', 'VA', '20148', '1', 'location']
['Cambridge,', 'MA', '02139', '(The', 'Port', 'area)', '8', 'locations']
['Chicago,', 'IL', '60604', '(The', 'Loop', 'area)']
['', '126', 'locationsRemote']
['Malvern,', 'PA', '6', 'locations']
['Remote', '', 'Costa', 'Mesa,', 'CA', '1', 'location']
['', '1', 'locationRemote']
['Boulder,', 'CO']
['Remote']
['Santa', 'Clara,', 'CA', '2', 'locations']
['Remote', '', 'California']
['New', 'York,', 'NY', '10014', '(West', 'Village', 'area)', '2', 'locations']
['San', 'Jose,', 'CA', '95101', '(North', 'Valley', 'area)']
['New', 'York', 'State', '3', 'locations']
['Remote', '', 'Boston,', 'MA']
['Brooklyn,', 'NY', '5', 'locations']
['Santa', 'Clara,', 'CA', '1', 'location']
['', '10', 'locationsRemote']
['Boston,', 'MA']
['Remote', '', 'Boston,', 'MA']
['Sunnyvale,', 'CA', '94086', '1', 'location']
['Pittsburgh,', 'PA']
['Milwaukee,', 'WI']
['Remote', '', 'Boston,', 'MA']
['Louisville,', 'KY']
['Livonia,', 'MI']
['Offutt', 'AFB,', 'NE']
['Salt', 'Lake', 'City,', 'UT']
['Foster', 'City,', 'CA']
['', '2', 'locationsRemote']
['Culver', 'City,', 'CA', '90232']
['New', 'York,', 'NY', '1', 'location']
['Cambridge,', 'MA', '1', 'location']
['University', 'Park,', 'PA', '2', 'locations']
['Plano,', 'TX', '1', 'location']
['Houston,', 'TX']
['Southfield,', 'MI']
['Rockville,', 'MD', '1', 'location']
['Framgham,', 'MA', '01702', '1', 'location']
['Washgton,', 'DC', '20010', '(Catholic', 'University', 'area)']
['Bellevue,', 'WA', '20', 'locations']
['Arlgton,', 'VA', '22201', '7', 'locations']
['Dallas,', 'TX']
['Dallas,', 'TX']
['Seattle,', 'WA', '98155', '1', 'location']
['Seattle,', 'WA', '2', 'locations']
['Remote', '', 'Boston,', 'MA', '2', 'locations']
['Boston,', 'MA']
['Remote']
['New', 'York,', 'NY', '10016', '(Gramercy', 'area)']
['New', 'York,', 'NY', '10119', '(Chelsea', 'area)', '1', 'location']
['Washgton,', 'DC', '20005', '(Logan', 'Circle', 'area)']
['Washgton,', 'DC', '20001', '(Swampoodle', 'area)', '4', 'locations']
['Culver', 'City,', 'CA', '90232']
['New', 'York,', 'NY', '1', 'location']
['Cambridge,', 'MA', '1', 'location']
['Newark,', 'CA', '94560', '2', 'locations']
['Seattle,', 'WA', '3', 'locations']
['Houston,', 'TX']
['Southfield,', 'MI']
['Dallas,', 'TX', '75201', '(Downtown', 'area)']
['New', 'York,', 'NY', '10017', '(Turtle', 'Bay', 'area)', '1', 'location']
['San', 'Francisco,', 'CA', '94107', '(Fancial', 'District/South', 'Beach', 'area)', '5', 'locations']
['Remote']
['Houston,', 'TX']
['Remote', '', 'Southfield,', 'MI']
['Richardson,', 'TX', '75080', '1', 'location']
['Glen', 'Allen,', 'VA']
['', '5', 'locationsRemote']
['Remote', '', 'Atlanta,', 'GA', '1', 'location']
['Ewg,', 'NJ', '1', 'location']
['Salt', 'Lake', 'City,', 'UT', '84101', "(People's", 'Freeway', 'area)']
['Washgton,', 'DC']
['Township', 'of', 'Beavercreek,', 'OH']
['New', 'York,', 'NY', '10021', '(Upper', 'East', 'Side', 'area)']
['Township', 'of', 'Beavercreek,', 'OH']
['New', 'York,', 'NY', '10021', '(Upper', 'East', 'Side', 'area)']
['Wawa,', 'PA']
['Oklahoma', 'City,', 'OK']
['Remote']
['Washgton,', 'DC']
['McLean,', 'VA']
['Bridgewater,', 'NJ', '4', 'locations']
['', '1', 'locationRemote']
['Columbus,', 'OH', '5', 'locations']
['Remote']
['Hybrid', 'remote', '', 'Aust,', 'TX', '1', 'location']
['Remote']
['Research', 'Triangle', 'Park,', 'NC', '27709']
['Remote', '', 'Plano,', 'TX']
['Remote', '', 'New', 'York,', 'NY']
['Remote', '', 'Irwdale,', 'CA']
['Remote', '', 'Madison,', 'WI', '4', 'locations']
['McLean,', 'VA']
['Los', 'Angeles,', 'CA']
['', '3', 'locationsRemote']
['Culver', 'City,', 'CA']
['New', 'York,', 'NY', '10282', '(Battery', 'Park', 'area)', '5', 'locations']
['Remote', '', 'Kansas', '1', 'location']
['Seattle,', 'WA']
['Remote']
['', '1', 'locationRemote']
['Aust,', 'TX']
['New', 'York,', 'NY', '10019', '(Midtown', 'area)']
['Charleston,', 'SC', '29409', '3', 'locations']
['Hybrid', 'remote', '', 'Chicago,', 'IL']
['', '2', 'locationsRemote']
['Wichita,', 'KS', '67220', '(Northeast', 'Heights', 'area)', '1', 'location']
['', '2', 'locationsRemote']
['Remote']
['San', 'Francisco,', 'CA', '1', 'location']
['Washgton,', 'DC']
['Palo', 'Alto,', 'CA']
['Brookle,', 'MA', '02445', '2', 'locations']
['', '126', 'locationsRemote']
['New', 'York,', 'NY']
['Los', 'Angeles,', 'CA', '90010', '(Koreatown', 'area)']
['Hybrid', 'remote', '', 'San', 'Francisco,', 'CA']
['Cambridge,', 'MA']
['Remote', '', 'New', 'York,', 'NY', '9', 'locations']

,Unnamed: 0,title,company,location,company_rating,description,avg_salary,remote,state
11,11,Green Energy Data Scientist,Piper Companies,+3 locationsRemote,4.5,Piper Companies is seeking a Green Energy Data...,125000.0,1,0
17,17,Data Scientist I,Amazon.com Services LLC,+126 locationsRemote,3.5,"M.S. or equivalent in Statistics, Mathematics,...",126350.0,1,0
52,52,Data Scientist,RenoFi,Remote,NaN,As a Data Scientist you'll work with the team ...,0.0,1,0
66,66,Junior Data Scientist,GMR Marketing,Remote,4.2,Â :\nWHY YOU'LL LOVE THIS JOB //\nOur digital ...,0.0,1,0
82,82,Data Scientist,A+E Networks,Remote,3.8,"Contractors\nCurrently, all staff and non-staf...",0.0,1,0
86,86,Sr. Data Scientist - Remote Work,Caterpillar,Remote in Illinois+1 location,3.8,Career Area:\nInformation Analytics\nJob Descr...,0.0,1,0
93,93,Data Scientist,Lime,Remote,3.3,Lime is the world's largest shared electric ve...,98000.0,1,0
94,94,Principal Data Scientist (Remote Friendly),Mission Lane,Virginia+1 location•Remote,3.7,Mission Lane LLC is a fintech on a mission (no...,0.0,1,0
97,97,Applied Data Scientist (Remote),Leaf Logistics,"New York, NY•Remote",NaN,We are Leaf\nLeaf is on a mission to upend the...,0.0,1,0
104,104,Data Scientist/ Data Science Analyst I,Liberty Mutual Insurance,Remote,3.6,"At Liberty Mutual, our purpose is to help peop...",125500.0,1,0
112,112,Data Scientist/ Data Science Analyst I,Liberty Mutual Insurance,Remote,3.6,"At Liberty Mutual, our purpose is to help peop...",125500.0,1,0
115,115,Data Scientist (Remote),Yelp,Remote,3.4,"At Yelp, it’s our mission to connect people wi...",0.0,1,0
123,123,Lead Data Scientist,Levi Strauss & Co.,+1 locationRemote,3.9,JOB DESCRIPTION\nYou're an original. So are we...,0.0,1,0
138,138,Data Scientist - Analytics,Acorn Analytics,+1 locationRemote,NaN,Role Summary\n: Using your deep curiosity and ...,0.0,1,0
140,140,Data Scientist,Mothership Technologies,Remote,NaN,We are building the future of freight\nMothers...,0.0,1,0
145,145,Senior Research Data Scientist- Remote Role,General Dynamics Information Technology,+2 locationsRemote,3.8,Travel Required:\nLess than 10%\nPublic Trust:...,130000.0,1,0
147,147,Data Scientist,Fama Technologies,Remote,NaN,Position Overview:\nThe data scientist role at...,0.0,1,0
156,156,Data Scientist,RenoFi,Remote,NaN,As a Data Scientist you'll work with the team ...,0.0,1,0
164,164,Data Scientist,Federal Reserve Bank of Boston,Remote,4.3,Company\nFederal Reserve Bank of Boston\nThe F...,0.0,1,0
171,171,DATA SCIENTIST - PYTHON,InspiHER Tech,Remote,NaN,"Published\nDecember 11, 2021\nLocation\n100% R...",140000.0,1,0
172,172,Data Scientist (Remote),XSELL Technologies,Remote,3.5,About XSELL\nReady to write the best chapter o...,0.0,1,0
183,183,Data Scientist (Blockchain Protocols),Metrika Inc.,Remote,NaN,NaN,0.0,1,0
185,185,Data Scientist Product,Confluent,+2 locationsRemote,3.4,NaN,0.0,1,0
191,191,Data Scientist/ Data Science Analyst I,Liberty Mutual Insurance,Remote,3.6,NaN,125500.0,1,0
204,204,Senior Data Scientist (remote),KeyBank,Remote,3.5,NaN,127500.0,1,0
215,215,Data Scientist - Analytics,Acorn Analytics,+1 locationRemote,NaN,NaN,0.0,1,0
217,217,Data Scientist,Mothership Technologies,Remote,NaN,NaN,0.0,1,0
252,252,Data Scientist (Remote) - US,AlphaSights,Remote in New York State,4.0,NaN,0.0,1,0
257,257,Data Scientist,Coinbase,Remote,4.4,NaN,0.0,1,0
269,269,Data Scientist & Machine Learning,UNITERS N.A.,Remote,NaN,NaN,0.0,1,0
291,291,Data Scientist,Insurity,Remote,2.9,Who We Are\nInsurity is a leading property and...,0.0,1,0
299,299,Data Scientist,Coinbase,Remote,4.4,We’re Coinbase. We’re the world’s most trusted...,0.0,1,0
311,311,"Data Scientist, Remote",University of California San Francisco,+5 locationsRemote,4.1,The Data Scientist will analyze large data set...,0.0,1,0
333,333,Applied Scientist,Amazon.com Services LLC,+126 locationsRemote,3.5,PhD or equivalent Master's Degree plus 4+ year...,0.0,1,0
336,336,Data Scientist (Remote),Rebellion Defense,+1 locationRemote,NaN,Our Rebellion:\nRebellion Defense builds missi...,0.0,1,0
338,338,Data Scientist - NLP,Bose,Remote,4.1,Join the Data and Analytics Center of Excellen...,0.0,1,0
343,343,Associate Data Scientist,Highmark Health,New York State+3 locations,3.2,Company :\nHighmark Health\nJob Description :\...,0.0,0,0
347,347,Product Analyst/Data Scientist,Salesforce,+10 locationsRemote,4.3,"To get the best candidate experience, please c...",82400.0,1,0
359,359,"Senior Data Scientist, Foundations",Tinder,+2 locationsRemote,4.6,Tinder brings people together. With tens of mi...,0.0,1,0
378,378,Data Scientist,PUTNAM RECRUITING GROUP,Remote,NaN,NaN,0.0,1,0
393,393,Data Scientist,Mothership Technologies,Remote,NaN,We are building the future of freight\nMothers...,0.0,1,0
398,398,Data Scientist II,Teladoc Health,+5 locationsRemote,3.1,"The Opportunity\nAt Teladoc Health, data is at...",0.0,1,0
409,409,Data Scientist,Core4ce,Remote,NaN,NaN,0.0,1,0
413,413,Data Scientist,kraken,+1 locationRemote,3.8,NaN,0.0,1,0
415,415,Data Scientist,Pros.,Remote,NaN,NaN,0.0,1,0
417,417,"Research Scientist - HPC, WWPS Data and Machin...","Amazon Web Services, Inc.",Remote,3.5,NaN,125000.0,1,0
425,425,Senior Data Scientist REMOTEPRODUCT – DATA SCI...,Recurly,+3 locationsRemote,4.0,REMOTE /\nPRODUCT – DATA SCIENCE /\nFULL TIME ...,0.0,1,0
430,430,Senior Data Scientist,Federal Reserve Bank of Richmond,Remote,3.7,Company\nFederal Reserve Bank of Richmond\nThe...,0.0,1,0
431,431,Data Scientist,Anthem,+1 locationRemote,3.7,Description\nSHIFT: Day Job\nSCHEDULE: Full-ti...,0.0,1,0
436,436,"Data Scientist II, Brand Marketing",Levi Strauss & Co.,+2 locationsRemote,3.9,NaN,0.0,1,0
438,438,Machine Learning Scientist,Riiid Labs,+2 locationsRemote,NaN,NaN,0.0,1,0
439,439,"Director, Data Science",Slack,Remote,3.8,NaN,0.0,1,0
444,444,"Marketing Data Scientist, Reality Labs",Meta,+126 locationsRemote,4.1,NaN,0.0,1,0

In [705]:
# python
# aws
# gcp
# excel
# spark

df['python'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'python' in x.lower() else 0)
df['aws'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'aws' in x.lower() else 0)
df['gcp'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'gcp' in x.lower() else 0)
df['excel'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'excel' in x.lower() else 0)
df['spark'] = df['description'].apply(lambda x: 1 if isinstance(x,str) and 'spark' in x.lower() else 0)

df.columns
df.drop('Unnamed: 0',axis = 1, inplace = False)
df.to_csv('job_data_cleaned.csv')