In [191]:
import pandas as pd
import numpy as np
from numpy import nan

In [192]:
df = pd.read_csv("jobs14:03:24.csv")

In [193]:
df.head()

,Unnamed: 0,title,company,salary,location,company_rating,description
0,0,Junior Data Scientist (NYC or Remote),ViacomCBS,NaN,"Remote in New York, NY+1 location",3.9,ViacomCBS (NASDAQ:\nVIAC; VIACA) is a leading ...
1,1,"Associate Data Scientist, Content Analytics",Spotify,NaN,Remote in Oregon+12 locations,4.3,"Data, Research & Insights\nData Science\nSpoti..."
2,2,"Data Scientist, TikTok Creation and Consumption",TikTok,NaN,"San Francisco, CA+34 locations",3.5,TikTok is the leading destination for short-fo...
3,3,"Data Scientist, Game Analytics & Strategy",the NBA,NaN,"New York, NY 10022 (Midtown area)+1 location",4.2,"At the NBA, we’re passionate about growing and..."
4,4,Data Scientist and Analytics Specialist,Delta,NaN,"Atlanta, GA+4 locations",4.2,"United States, Georgia, Atlanta\nProduct Manag..."

In [194]:
df.shape

(450, 7)

We will start to work from salary column. Goal here is to have 
1) mean value for the salary if they have a salary estimation
2) or leave it as NaN

First Let's figure out
- How many NaN value we have
- How many value that we can use
- structure of non NaN values
- extract only numbers

In [195]:
print('we have', df['salary'].isna().sum(), 'Nan value for the salary column')
print('that indicates that we have only 56 values to use')

we have 394 Nan value for the salary column
that indicates that we have only 56 values to use

In [196]:
salary = df['salary']
salary_notnull = salary[salary.notnull()]
print(salary_notnull)

11           $110,000 - $140,000 a year
12            $72,272 - $176,300 a year
17            $92,700 - $160,000 a year
21                      $110,500 a year
23            $83,690 - $160,000 a year
26            $70,400 - $117,400 a year
29            $76,000 - $148,000 a year
33            $83,690 - $160,000 a year
35           $120,000 - $223,000 a year
36            $72,272 - $176,300 a year
39     Estimated $47.7K – $60.3K a year
41            $90,000 - $150,000 a year
46            $90,000 - $150,000 a year
55            $86,389 - $116,788 a year
57            $70,400 - $117,400 a year
58                       $95,000 a year
69            $65,072 - $117,129 a year
71           $125,000 - $175,000 a year
72            $90,000 - $150,000 a year
75           $118,248 - $127,208 a year
93                       $98,000 a year
96             $4,372 - $10,792 a month
104           $90,000 - $161,000 a year
112           $90,000 - $161,000 a year
117           $96,400 - $144,600 a year
133          $125,000 - $175,000 a year
145          $104,000 - $156,000 a year
165                      $95,000 a year
170                     $157,500 a year
171          $135,000 - $145,000 a year
187          $106,500 - $130,200 a year
191           $90,000 - $161,000 a year
194           $70,928 - $107,058 a year
204           $95,000 - $160,000 a year
210                   $80 - $85 an hour
212          $129,300 - $193,900 a year
213          $100,000 - $218,163 a year
228      Estimated $117K – $149K a year
243          $148,484 - $176,300 a year
262           $68,300 - $113,800 a year
277          $108,000 - $200,000 a year
297               Up to $130,000 a year
298           $90,000 - $120,000 a year
310           $95,000 - $186,000 a year
319               Up to $130,000 a year
337            $80,000 - $90,000 a year
341    Estimated $63.7K – $80.7K a year
347                      $82,400 a year
382          $107,000 - $194,000 a year
387           $95,000 - $200,000 a year
397           $72,000 - $108,500 a year
408                Up to $65,000 a year
410          $135,000 - $165,000 a year
417                     $125,000 a year
422               Up to $165,700 a year
447          $174,000 - $259,000 a year
Name: salary, dtype: object

Now let's extract numbers only from the salary columns

In [197]:
def str_contains_n(str):
    num_str = "0123456789"
    word_list = []
    words = str.split(" ")
    for word in words:
        word_has_n = False
        for char in word:
            if char in num_str:
                word_has_n = True
        if word_has_n:
            word_list.append(word)
    result = '-'.join(word_list)
    return result

In [198]:
df['k_unit'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'k' in x.lower() else 0)
df['yearly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'a year' in x.lower() else 0)
df['monthly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'a month' in x.lower() else 0)
df['hourly'] = df['salary'].apply(lambda x: 1 if isinstance(x, str) and 'an hour' in x.lower() else 0)

salary = salary.apply(lambda x: str_contains_n(x) if isinstance(x, str) else None)
salary = salary.apply(lambda x: x.lower().replace("$","").replace("k","").replace(",","") if x != None else None)
salary = salary.apply(lambda x: x if isinstance(x,str) else 0)

df['salary_edit'] = salary

df['min_salary'] = salary.apply(lambda x: float(x.split('-')[0]) if isinstance(x,str) else 0)
df['max_salary'] = salary.apply(lambda x: float(x.split('-')[1]) if isinstance(x,str) and len(x.split('-')) >1 else(float(x.split('-')[0]) if isinstance(x,str) else 0))
df['avg_salary'] = (df['min_salary'] + df['max_salary'])/2

df[df['salary_edit'] != 0]

,Unnamed: 0,title,company,salary,location,company_rating,description,k_unit,yearly,monthly,hourly,salary_edit,min_salary,max_salary,avg_salary
11,11,Green Energy Data Scientist,Piper Companies,"$110,000 - $140,000 a year",+3 locationsRemote,4.5,Piper Companies is seeking a Green Energy Data...,0,1,0,0,110000-140000,110000.0,140000.0,125000.0
12,12,Data Scientist,Central Intelligence Agency,"$72,272 - $176,300 a year","Washington, DC 20505 (Foggy Bottom area)",4.3,Data Scientists develop algorithms and statist...,0,1,0,0,72272-176300,72272.0,176300.0,124286.0
17,17,Data Scientist I,Amazon.com Services LLC,"$92,700 - $160,000 a year",+126 locationsRemote,3.5,"M.S. or equivalent in Statistics, Mathematics,...",0,1,0,0,92700-160000,92700.0,160000.0,126350.0
21,21,"Data Scientist, Product (Remote)",Drizly,"$110,500 a year","Remote in Boston, MA",3.6,Who we are\nDrizly is the world’s largest alco...,0,1,0,0,110500,110500.0,110500.0,110500.0
23,23,Data Scientist,DojoMojo,"$83,690 - $160,000 a year","Remote in New York, NY",NaN,DojoMojo is a leading marketing platform that ...,0,1,0,0,83690-160000,83690.0,160000.0,121845.0
26,26,Data Scientist,Cigna,"$70,400 - $117,400 a year","Remote in Hartford, CT+1 location",3.7,"Remote, Work from Home, United States\nPositio...",0,1,0,0,70400-117400,70400.0,117400.0,93900.0
29,29,Data Scientist,University of Utah,"$76,000 - $148,000 a year","Salt Lake City, UT 84112 (East Bench area)",4.2,Announcement\nOpen Date\n12/20/2021\nRequisiti...,0,1,0,0,76000-148000,76000.0,148000.0,112000.0
33,33,Data Scientist,DojoMojo,"$83,690 - $160,000 a year","Remote in New York, NY",NaN,DojoMojo is a leading marketing platform that ...,0,1,0,0,83690-160000,83690.0,160000.0,121845.0
35,35,Distinguished Data Scientist,Verizon,"$120,000 - $223,000 a year",Remote in Colorado+36 locations,3.9,When you join Verizon\nVerizon is one of the w...,0,1,0,0,120000-223000,120000.0,223000.0,171500.0
36,36,Data Scientist,Central Intelligence Agency,"$72,272 - $176,300 a year","Washington, DC 20505 (Foggy Bottom area)",4.3,Data Scientists develop algorithms and statist...,0,1,0,0,72272-176300,72272.0,176300.0,124286.0
39,39,Data Scientist / Biostatistician - Sumner Lab,UNC-Chapel Hill,Estimated $47.7K – $60.3K a year,"Chapel Hill, NC 27599+1 location",4.1,A full-time temporary Data Scientist/Biostatis...,1,1,0,0,47.7-60.3,47.7,60.3,54.0
41,41,Data Scientist - Algorithm Engineer,Zynex Medical,"$90,000 - $150,000 a year","Remote in Englewood, CO",3.8,Job Details\nJob Location\nCorporate HeadQuart...,0,1,0,0,90000-150000,90000.0,150000.0,120000.0
46,46,Data Scientist - Algorithm Engineer,Zynex Medical,"$90,000 - $150,000 a year","Remote in Englewood, CO",3.8,Job Details\nJob Location\nCorporate HeadQuart...,0,1,0,0,90000-150000,90000.0,150000.0,120000.0
55,55,Data Scientist,National Security Agency,"$86,389 - $116,788 a year","Fort Meade, MD+1 location",4.2,NSA Overview:\nThe professionals at the Nation...,0,1,0,0,86389-116788,86389.0,116788.0,101588.5
57,57,Data Scientist,Cigna,"$70,400 - $117,400 a year","Remote in Hartford, CT+1 location",3.7,"Remote, Work from Home, United States\nPositio...",0,1,0,0,70400-117400,70400.0,117400.0,93900.0
58,58,"Data Scientist, Operations Data Science",Google,"$95,000 a year","Hybrid remote in Mountain View, CA+8 locations",4.3,Note: Google’s hybrid workplace includes remot...,0,1,0,0,95000,95000.0,95000.0,95000.0
69,69,DATA SCIENTIST,Durham County,"$65,072 - $117,129 a year","Durham, NC 27701",3.8,Durham County Government employs approximately...,0,1,0,0,65072-117129,65072.0,117129.0,91100.5
71,71,Data Scientist,Techstars,"$125,000 - $175,000 a year",Remote in Colorado,4.6,Techstars seeks an experienced Data Scientist ...,0,1,0,0,125000-175000,125000.0,175000.0,150000.0
72,72,Data Scientist - Algorithm Engineer,Zynex Medical,"$90,000 - $150,000 a year","Remote in Englewood, CO",3.8,Job Details\nJob Location\nCorporate HeadQuart...,0,1,0,0,90000-150000,90000.0,150000.0,120000.0
75,75,Data Scientist,Coverys,"$118,248 - $127,208 a year","Boston, MA",3.3,Join Coverys where we work everyday to help th...,0,1,0,0,118248-127208,118248.0,127208.0,122728.0
93,93,Data Scientist,Lime,"$98,000 a year",Remote,3.3,Lime is the world's largest shared electric ve...,0,1,0,0,98000,98000.0,98000.0,98000.0
96,96,Dashboard Data Scientist,California State University,"$4,372 - $10,792 a month","Long Beach, CA",4.3,Chancellor's Office Statement\nJoin our team a...,0,0,1,0,4372-10792,4372.0,10792.0,7582.0
104,104,Data Scientist/ Data Science Analyst I,Liberty Mutual Insurance,"$90,000 - $161,000 a year",Remote,3.6,"At Liberty Mutual, our purpose is to help peop...",0,1,0,0,90000-161000,90000.0,161000.0,125500.0
112,112,Data Scientist/ Data Science Analyst I,Liberty Mutual Insurance,"$90,000 - $161,000 a year",Remote,3.6,"At Liberty Mutual, our purpose is to help peop...",0,1,0,0,90000-161000,90000.0,161000.0,125500.0
117,117,Principal Data Scientist- Tableau,Northrop Grumman,"$96,400 - $144,600 a year","Remote in Chandler, AZ+2 locations",4.0,Requisition ID: R10026850\nCategory:\nResearch...,0,1,0,0,96400-144600,96400.0,144600.0,120500.0
133,133,Data Scientist,Techstars,"$125,000 - $175,000 a year",Remote in Colorado,4.6,Techstars seeks an experienced Data Scientist ...,0,1,0,0,125000-175000,125000.0,175000.0,150000.0
145,145,Senior Research Data Scientist- Remote Role,General Dynamics Information Technology,"$104,000 - $156,000 a year",+2 locationsRemote,3.8,Travel Required:\nLess than 10%\nPublic Trust:...,0,1,0,0,104000-156000,104000.0,156000.0,130000.0
165,165,"Data Scientist, Operations Data Science",Google,"$95,000 a year","Hybrid remote in Mountain View, CA+8 locations",4.3,Note: Google’s hybrid workplace includes remot...,0,1,0,0,95000,95000.0,95000.0,95000.0
170,170,"Principal Data Scientist, Core Commerce Open t...",Nike,"$157,500 a year","Remote in Beaverton, OR+1 location",4.1,"Become a Part of the NIKE, Inc. Team\nNIKE, In...",0,1,0,0,157500,157500.0,157500.0,157500.0
171,171,DATA SCIENTIST - PYTHON,InspiHER Tech,"$135,000 - $145,000 a year",Remote,NaN,"Published\nDecember 11, 2021\nLocation\n100% R...",0,1,0,0,135000-145000,135000.0,145000.0,140000.0
187,187,Data Scientist,DocuSign,"$106,500 - $130,200 a year",Remote in California+1 location,3.7,NaN,0,1,0,0,106500-130200,106500.0,130200.0,118350.0
191,191,Data Scientist/ Data Science Analyst I,Liberty Mutual Insurance,"$90,000 - $161,000 a year",Remote,3.6,NaN,0,1,0,0,90000-161000,90000.0,161000.0,125500.0
194,194,Data Scientist or Associate Data Scientist,Metropolitan Council,"$70,928 - $107,058 a year","Minneapolis, MN",3.8,NaN,0,1,0,0,70928-107058,70928.0,107058.0,88993.0
204,204,Senior Data Scientist (remote),KeyBank,"$95,000 - $160,000 a year",Remote,3.5,NaN,0,1,0,0,95000-160000,95000.0,160000.0,127500.0
210,210,Data Scientist,Freemind solutions,$80 - $85 an hour,"Raleigh, NC",NaN,NaN,0,0,0,1,80-85,80.0,85.0,82.5
212,212,Machine Learning Scientist,Glassdoor,"$129,300 - $193,900 a year","Seattle, WA+13 locations",4.2,NaN,0,1,0,0,129300-193900,129300.0,193900.0,161600.0
213,213,Data Scientist,Flipped.ai,"$100,000 - $218,163 a year","New York, NY",NaN,NaN,0,1,0,0,100000-218163,100000.0,218163.0,159081.5
228,228,Junior data scientist / bioinformatics,Data Tecnica,Estimated $117K – $149K a year,"Remote in Glen Echo, MD",NaN,NaN,1,1,0,0,117-149,117.0,149.0,133.0
243,243,Health Scientist (Data Science),US National Institutes of Health,"$148,484 - $176,300 a year","Temporarily Remote in Montgomery County, MD",4.3,NaN,0,1,0,0,148484-176300,148484.0,176300.0,162392.0
262,262,"Jr. Data Scientist, Data Engineering- Evicore",Cigna,"$68,300 - $113,800 a year","Hartford, CT 06152 (Frog Hollow area)",3.7,NaN,0,1,0,0,68300-113800,68300.0,113800.0,91050.0
277,277,Principal Data Scientist,Verizon,"$108,000 - $200,000 a year",Remote in Colorado+18 locations,3.9,When you join Verizon\nVerizon is one of the w...,0,1,0,0,108000-200000,108000.0,200000.0,154000.0
297,297,Data Scientist,"FULLFILL, Inc.","Up to $130,000 a year","Los Angeles, CA+1 location",5.0,"Nice to meet you, we’re FULLFILL!\nAt FULLFILL...",0,1,0,0,130000,130000.0,130000.0,130000.0
298,298,Data Scientist,Project Canary,"$90,000 - $120,000 a year","Denver, CO 80231",NaN,"Project Canary is a growth-stage, SaaS and cer...",0,1,0,0,90000-120000,90000.0,120000.0,105000.0
310,310,Data Scientist 3,Oracle,"$95,000 - $186,000 a year","Broomfield, CO 80021 (Interlocken area)+18 loc...",3.8,About Oracle Advertising\nOn the cutting edge ...,0,1,0,0,95000-186000,95000.0,186000.0,140500.0
319,319,Data Scientist,"FULLFILL, Inc.","Up to $130,000 a year","Los Angeles, CA+1 location",5.0,NaN,0,1,0,0,130000,130000.0,130000.0,130000.0
337,337,Data Scientist,Yeoman Asset Management,"$80,000 - $90,000 a year","Boulder, CO",NaN,Red Dot Storage is focused on acquiring self-s...,0,1,0,0,80000-90000,80000.0,90000.0,85000.0
341,341,Decision Scientist,PayPal,Estimated $63.7K – $80.7K a year,"New York, NY 10014 (West Village area)+2 locat...",3.9,"Who we are: At PayPal (NASDAQ: PYPL), we belie...",1,1,0,0,63.7-80.7,63.7,80.7,72.2
347,347,Product Analyst/Data Scientist,Salesforce,"$82,400 a year",+10 locationsRemote,4.3,"To get the best candidate experience, please c...",0,1,0,0,82400,82400.0,82400.0,82400.0
382,382,Health Data Analyst/Informaticist,IBM,"$107,000 - $194,000 a year","Washington, DC 20001 (Swampoodle area)+4 locat...",3.9,NaN,0,1,0,0,107000-194000,107000.0,194000.0,150500.0
387,387,Sr. Data Scientist,REI,"$95,000 - $200,000 a year","Seattle, WA+3 locations",4.1,NaN,0,1,0,0,95000-200000,95000.0,200000.0,147500.0
397,397,Data Scientist,RetailData LLC,"$72,000 - $108,500 a year","Glen Allen, VA",3.7,"About the Role:\nRD Holdings, the parent compa...",0,1,0,0,72000-108500,72000.0,108500.0,90250.0
408,408,OMMA Data Scientist,State Department of Health,"Up to $65,000 a year","Oklahoma City, OK",3.9,NaN,0,1,0,0,65000,65000.0,65000.0,65000.0
410,410,Senior Data Scientist,Aon Corporation,"$135,000 - $165,000 a year","Washington, DC",3.7,NaN,0,1,0,0,135000-165000,135000.0,165000.0,150000.0
417,417,"Research Scientist - HPC, WWPS Data and Machin...","Amazon Web Services, Inc.","$125,000 a year",Remote,3.5,NaN,0,1,0,0,125000,125000.0,125000.0,125000.0
422,422,Data Scientist - Personal Auto (open to remote),American Family Insurance,"Up to $165,700 a year","Remote in Madison, WI+4 locations",3.7,"At American Family Insurance, we believe peopl...",0,1,0,0,165700,165700.0,165700.0,165700.0
447,447,"Data Scientist, Product Analytics","Grammarly, Inc.","$174,000 - $259,000 a year","Hybrid remote in San Francisco, CA",4.6,NaN,0,1,0,0,174000-259000,174000.0,259000.0,216500.0